.sidebar-wrap{float:left;width:15%;min-height:700px;border-right:1px solid #ccc;background:#f2f2f2;}
.main-wrap{float:left;width:85%;min-height:100%;}
.sidebar-title{height:40px;text-align:left;text-indent:1em;font-size:24px;line-height:40px;}
.sidebar-title h1{font-weight:normal;line-height:40px;}
.sidebar-content{padding-top:5px;}
.sidebar-list li{border:1px solid #e5e5e5;border-width:1px 0;}
.sidebar-list li .icon-font{margin-right:5px;color:#888;font-size:14px;}
.sidebar-list li a{display:block;padding:0 16px 0 20px;height:38px;color:#333;line-height:38px;}
.sidebar-list li a:hover{background:#fff;color:#1963aa;}
.sub-menu{border-top:1px solid #e5e5e5;background:#fff;}
.sub-menu li{padding-left:21px;}
.sub-menu li.on{background:#1963aa;}
.sub-menu li.on a{background:#1963aa;color:#fff;}
.sub-menu li.on .icon-font{color:#fff;}
.sub-menu .icon-font{font-size:11px;}
.crumb-wrap{height:40px;border-bottom:1px solid #e5e5e5;background:#f5f5f5;line-height:39px;}
.crumb-list{padding-left:12px;}
.crumb-list .icon-font{margin-right:5px;}
.crumb-step{margin:0 5px;color:#b2c2e0;font-family:serif;}
.search-wrap{padding:15px 0;border-bottom:1px solid #e5e5e5;}
.search-tab tr{line-height:35px;}
.search-tab th{padding-right:10px;text-align:right;font-weight:normal;}
.search-tab td{padding:0 5px;width:120px;}
.search-tab td select{width:100%;}
.common-text{padding:2px 4px;width:120px;border:1px solid #ccc;border-radius:5px;background:#fff;}
.result-wrap{position:relative;padding:10px 20px;border-bottom:1px solid #e5e5e5;}
.result-title{overflow:hidden;padding-bottom:5px;line-height:35px;}
.comment-title{overflow:hidden;margin-bottom:10px;line-height:35px;}
.result-list a{margin-right:15px;}
.result-list i{padding-right:5px;}
.result-tab{margin-bottom:10px;border-collapse:collapse;border-top:1px solid #ddd;border-left:1px solid #ddd;}
.result-tab td .op{display:block;}
.result-tab th{background:url(../images/tab-thbg.png) #f9f9f9 0 bottom repeat-x;text-align:left;font-weight:normal;font-size:15px;}
.result-tab th,.result-tab td{padding:5px;border-right:1px solid #e1e1e1;border-bottom:1px solid #ddd;}
.result-tab th.checkedbox,.result-tab td.checkedbox{padding:0;width:15px;}
.result-tab th.tc,.result-tab td.tc{text-align:center;}
.result-tab tr:nth-child(odd){background:#f9f9f9;}
.result-tab tr:hover{background:#f1f1f1;}
.result-tab tr.even-tr{background:#e9fff2;}
.comment-tab{margin-bottom:10px;padding-left:15px;border-bottom:1px solid #ddd;}
.comment-tab a{float:left;}
.comment-tab a.on{padding:0 15px;border-radius:5px 5px 0 0;background:#49afcd;color:#fff;}
.config-items{margin-bottom:25px;}
.config-title{margin-bottom:10px;}
.config-title h1{font-weight:normal;font-size:14px;}
.config-title h1 i{margin-right:5px;font-size:12px;}
.columns-title{overflow:hidden;padding:10px 0;height:35px;line-height:35px;}
.visitor-img{float:left;}
.visitor-info{float:left;padding-left:10px;line-height:23px;}
.visitor-email{color:#aaa;}
.short-wrap a{margin-right:20px;}
.short-wrap a i{margin-right:5px;}
.res-lab{display:inline-block;padding-right:10px;width:150px;text-align:right;}
.sys-info-list li{border-bottom:1px dashed #eaeaea;line-height:35px;}
.res-lab{color:#909090;}
.res-info{font-size:15px;}
.sort-input{width:25px;text-align:center;}
.navbar .navbar-inner{margin-bottom:30px;padding-top:5px;border-bottom:2px solid #2168cc;background:#fff;}
.navbar .nav{margin-top:3px;border:1px solid #fff;}
.navbar .nav>li>a{padding:0 15px;height:40px;color:#fff;line-height:40px;}
.navbar .nav li{padding:0;}
.navbar .nav>li>a:focus,.navbar .nav>li>a:hover,.navbar .nav li.dropdown.open>.dropdown-toggle{height:40px;background:#2186cc;line-height:40px;}
.glyphicon-user{font-size:15px;}
.navbar .dropdown-menu{left:-75px;z-index:100;}
.dropdown-menu li{text-align:center;}
footer p{text-align:center;font-size:14px;}
#line-chart{margin:0 auto;margin-top:1em;width:800px;height:300px;}
.brand{font-family:'微软雅黑',serif;}
.brand .first{color:#ccc;font-weight:bold;font-style:italic;font-size:26px;}
.brand .second{color:#fff;font-weight:bold;}
.sidebar-nav .nav-header,.sidebar-nav .nav-header:hover,.block-heading,.block-heading[data-toggle="collapse"]:hover{border:1px solid #2168cc;border-radius:0;background:#2168cc;color:#fff;text-shadow:0;font-weight:normal;font-size:18px;line-height:35px;}
.sidebar-nav .nav-list,.sidebar-nav .nav-header.collapsed,.block{border-color:#2168cc;border-radius:0;}
.sidebar-nav .nav-list.collapse.in{border-color:#2168cc;}
.sidebar-nav .nav-header .label,.panel-heading .label{margin-top:5px;margin-left:10px;}
.page-title span{display:inline-block;margin-left:10px;color:#2168cc;vertical-align:bottom;font-weight:normal;font-size:30px;}
.login-form{position:absolute;top:50%;left:50%;margin-top:-130px;margin-left:-200px;width:400px;border:1px solid #ddd;text-align:center;}
.login-head{height:30px;border-bottom:1px solid #ddd;background-color:#eee;line-height:30px;}
.login-body{padding:30px;padding-bottom:20px;background-color:#fff;}
.login-form a{display:inline-block;padding:0 15px;height:24px;border:1px solid #ddd;background-color:#eee;color:#333;line-height:24px;}
.login-form .login-btn{border:1px solid #2168cc;background-color:#2168cc;color:#fff;}
.lastboard a{padding-left:80px;background:url(../images/bg_repno.gif) no-repeat -220px -600px;}
.panel{border-radius:0;}
.panel-primary>.panel-heading{padding:0 25px;border-color:#2168cc;border-radius:0;background-color:#2168cc;color:#fff;text-shadow:0;font-weight:normal;font-size:18px;line-height:35px;}
