body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,input,p{margin:0;padding:0;}
img{border:0;}
em,i{font-weight:normal;font-style:normal;}
ul,ol{list-style:none;}
h1,h2,h3,h4,h5{font-weight:normal;font-size:100%;}
body{background-color:#fff;color:#666;font:12px/1.8 '微软雅黑',tahoma,'\5b8b\4f53',sans-serif;}
.wrapper{margin:0 auto;width:1200px;}
.clearfix{*zoom:1;}
.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.fb{font-weight:bold;}
.tx-cen{text-align:center;}
.hxtx{overflow:hidden;width:0;height:0;}
.fl{float:left;}
.fr{float:right;}
.p-r{position:relative;}
.p-a{position:absolute;}
.zoom{overflow:hidden;zoom:1;}
.none{display:none;}
.mt-10{margin-top:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.cor-gary{color:#999;}
.cor-org{color:#f60;}
.cor-red{color:#e35858;}
a{outline:0;color:#666;text-decoration:none;cursor:pointer;}
a:hover{color:#2168cc;text-decoration:none;}
[placeholder]{font-family:'Microsoft yahei';}
::-moz-placeholder{padding-left:40px;height:42px;color:#ccc;line-height:32px;opacity:1 !important;}
:-ms-input-placeholder{padding-left:40px;height:42px;color:#ccc;text-indent:5px;line-height:20px;line-height:30px\9;}
::-webkit-input-placeholder{padding-left:40px;height:42px;color:#ccc;line-height:20px;}
.tspr,.top-bar-rt li,.header-btn,.header-btn-srw,.hs-box-none{display:inline-block;background-image:url(../images/top-spr.png);background-repeat:no-repeat;}
.header{width:100%;height:195px;}
.top-bar{width:100%;height:30px;background-color:#f0f0f0;}
.top-bar-lf li,.top-bar-rt li{position:relative;z-index:9;float:left;height:30px;line-height:30px;}
.top-bar-rt li a{display:inline-block;}
.top-bar-rt li a.active{color:#2168cc;}
.header-code{top:22px;left:0;z-index:99;display:none;width:118px;height:141px;background:url(../images/header-code.png) no-repeat 0 0;}
.hover .header-code{display:block;}
.top-bar-rt li{padding:0 10px;background-position:0 -404px;}
.top-bar-rt li.top-bar-rt-1{background:0;}
.top-bar-rt-1 em{display:inline-block;padding-right:10px;}
.top-bar-rt-1 span{color:#f60;}
.tspr-icon4{padding-left:17px;background:url(../images/tel.png) no-repeat 0 5px;}
.r-srw{display:inline-block;width:10px;height:10px;}
.header-btn-2-hover .r-srw{margin-left:5px;background-position:-100px -1821px;}
.hover .r-srw{margin-left:5px;background-position:-100px -1821px;}
.r-srw{margin-left:5px;background:url(../images/spr.png) no-repeat;background-position:-100px -1808px;}
.header-con{height:120px;}
.search-box{top:35px;left:565px;width:530px;height:76px;}
.search-form{width:100%;height:42px;}
.search-form form label{position:absolute;top:6px;left:42px;font-size:14px;}
.search-button{position:absolute;top:0;right:0;width:100px;height:40px;border:0;background:0;background-color:#2168cc;color:#fff;font-weight:bold;font-size:14px;cursor:pointer;}
.search-label{overflow:hidden;width:100%;height:34px;line-height:34px;}
.search-label a{padding-right:8px;}
.header-rt-box{top:35px;right:28px;width:60px;}
.header-btn-1{top:0;left:0;width:115px;background-position:10px -290px;}
.header-btn-2{top:0;left:127px;width:128px;background-position:10px -320px;}
.header-btn{position:absolute;height:30px;border:1px solid #ddd;background-color:#f0f0f0;text-indent:33px;line-height:30px;}
.header-btn-srw{display:block;width:95%;height:100%;background-position:right -350px;}
.h-code-box{position:relative;display:inline-block;width:80px;height:40px;background:#ddd;line-height:40px;}
.target,.element{position:absolute;}
.target{top:8px;left:60px;}
.coin{position:absolute;display:none;margin-left:2px;width:12px;height:5px;border-radius:15px;background:#f60;}
.h-code-box .icon-jifen{display:inline-block;width:16px;height:22px;background:url(../images/qiandao.png);vertical-align:middle;}
.h-code-box .qiandao{position:absolute;left:5px;cursor:pointer;}
.h-code-box .qiandao:hover{color:#f60;}
.nav-box{width:100%;height:45px;background-color:#f8f8f8;line-height:45px;}
.nav li{float:left;padding:0 30px;}
.nav li.on a,.nav li a:hover{border-bottom:2px solid #0085d0;color:#0085d0;}
.nav li a{display:block;padding:0 8px;font-size:16px;}
.top-bar .hover .blank{position:absolute;top:28px;left:6px;z-index:1;overflow:hidden;width:68px;height:3px;background:#fff;}
.top-bar .hover .outline{top:3px;left:5px;z-index:-1;width:68px;height:28px;}
.top-bar .drop-down-b .blank,.top-bar .drop-down-b .outline{width:98px;}
.top-bar .hover .tb{display:block;}
.tb{position:absolute;top:30px;left:5px;display:none;}
.tb-1{position:relative;margin-top:8px;padding-bottom:15px;width:200px;}
.tb-2{position:relative;left:0;margin-top:8px;width:100px;}
.tb-3{left:-176px;width:249px;}
.tb-4{width:450px;}
.tb-2:before{position:absolute;top:-9px;left:0;display:inline-block;width:100px;height:10px;background:url(../images/arrow-up.png) no-repeat;content:'';}
.tb-1:before{position:absolute;top:-9px;left:0;display:inline-block;width:100px;height:10px;background:url(../images/arrow-up.png) no-repeat;content:'';}
.more-city:hover .outline{width:76px;}
.more-city:hover .blank{width:76px;}
.more-city a span{margin-left:10px;}
.top-bar .hover .tb,.top-bar .hover .outline,.header-btn-2-hover .outline{position:absolute;border:1px solid #ddd;background:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,.12);-moz-box-shadow:0 0 10px rgba(0,0,0,.12);box-shadow:0 0 10px rgba(0,0,0,.12);}
.tb-dbox img{position:absolute;top:20px;left:20px;display:block;width:58px;height:58px;}
.tb-dbox-txt{padding-left:90px;}
.tb-dbox-txt a{float:left;margin-right:10px;text-align:center;}
.tb-dbox-txt a span{display:block;line-height:22px;}
.tb-dbox-txt h4{margin-top:12px;font-weight:bold;}
.t-dbtn-1,.t-dbtn-2{width:18px;height:19px;vertical-align:text-bottom;}
.t-dbtn-1{background:url(../images/ios.png) no-repeat;}
.t-dbtn-2{background:url(../images/android.png) no-repeat;}
.tb-dbox-txt a:hover .t-dbtn-1{background:url(../images/ios-hover.png) no-repeat;}
.tb-dbox-txt a:hover .t-dbtn-2{background:url(../images/android-hover.png) no-repeat;}
.h-list{padding:0 5px;}
.h-list a{display:block;padding:5px 0;width:100%;border-bottom:1px solid #ddd;text-align:center;}
.h-list a.last{border:0;}
.l-lixt-box{padding:5px 10px;}
.l-lixt-box h4{width:100%;height:28px;font-weight:bold;line-height:28px;}
.l-lixt-box a{float:left;display:block;width:25%;height:22px;line-height:22px;}
.header-btn-2-hover{color:#2168cc;cursor:pointer;}
a.header-btn-2:hover{color:#666;}
.header-btn-2-hover .outline{top:3px;left:5px;z-index:-1;width:125px;height:28px;}
.header-btn-2-hover .blank{position:absolute;top:28px;left:6px;z-index:1;overflow:hidden;width:125px;height:3px;background:#fff;}
.header-btn-2-hover .b-blank{position:absolute;top:29px;left:0;z-index:99;width:128px;height:3px;background-color:#fff;}
.header-btn-2-hover .hs-box{position:absolute;display:block;margin-top:8px;border:1px solid #ddd;background:#fff;-webkit-box-shadow:0 0 10px rgba(0,0,0,.12);-moz-box-shadow:0 0 10px rgba(0,0,0,.12);box-shadow:0 0 10px rgba(0,0,0,.12);}
.hs-box{position:absolute;left:-120px;display:none;padding:15px 0;width:245px;border:1px solid #ddd;background-color:#fff;}
.hs-box:before{position:absolute;top:-9px;left:145px;display:inline-block;width:255px;height:10px;background:url(../images/arrow-up.png) no-repeat;content:'';}
.hs-box-none{margin:0 15px;padding-left:75px;height:53px;background:url(../images/car.png) no-repeat;color:#666;font-size:12px;line-height:22px;}
.search-input{position:absolute;top:0;left:5px;padding-left:5px;width:420px;height:34px;border:3px solid #2168cc;font-size:16px;}
.prediction-text{font-size:14px;}
.output{position:absolute;top:40px;left:5px;z-index:5;padding:0 5px;width:402px;min-height:0;border:1px solid #ccc;background:#fff;color:#767676;list-style:none;font-size:.75em;transition:min-height .2s;}
.prediction-item{padding:.6em .75em;border-bottom:1px dashed #ccc;transition:color .2s,background .2s;}
.prediction-item:last-child{border-bottom:0;}
.output:hover .focus{background-color:#fff;color:#666;}
.prediction-item:hover,.focus,.output:hover .focus:hover{background-color:#fff;color:#666;}
.prediction-item:hover{cursor:pointer;}
.prediction-num{float:right;color:#ccc;font-size:14px;}
.city-box{top:0;left:0;z-index:10000;width:450px;border-color:rgba(0,0,0,0.3);border-style:solid;border-width:0;background-color:#fff;}
.city-box-tit{height:35px;background-color:#e6e6e6;}
.city-box-tit h3{text-indent:5px;font-size:14px;line-height:35px;}
.city-con{padding:10px 0;}
.city-list-1,.city-list-2,.city-list-result{margin:0 auto;font-size:16px;}
.city-list-1 dt,.city-list-2 dt{margin:0 20px;border-bottom:1px solid #ddd;}
.city-list-1 dt{font-weight:bold;}
.city-list-1 dd,.city-list-2 dd,.city-list-result dd{float:left;padding:0 10px;width:55px;height:40px;text-align:center;line-height:40px;}
.city-list-2 dd a,.city-list-result dd a{color:#666;}
.city-list-1 dd a{color:#000;}
.city-list-3{padding:0 20px;}
.city-list-3 dt{margin:5px 0;border-bottom:1px solid #ddd;font-weight:bold;font-size:16px;}
.city-list-3 dd a{float:left;display:inline-block;margin:5px 3px;width:25px;height:25px;border:#ccc;background:#ddd;color:#666;text-align:center;line-height:25px;}
.city-list-3 dd a.active,.city-list-3 dd a:hover{background:#0085d0;color:#fff;}
.city-list-2 dd span{display:none;}
.city-list-2 span.insertCon{float:left;display:none;padding:7px 0;width:100%;height:auto;border-top:#d2d2d2 1px solid;border-bottom:#d2d2d2 1px solid;background-color:#fafafa;}
.city-list-2 span.insertCon a{float:left;display:block;margin-left:10px;width:55px;height:28px;text-align:center;line-height:28px;}
.city-list-2 span.insertCon a:hover,.city-list-2 li a.on{background-color:#296ecc;color:#fff;}
.city_bg{position:absolute;top:0;left:0;z-index:9999;width:100%;background-color:#252525;opacity:.5;filter:alpha(opacity=50);}
.city-list-2 dd a em{position:absolute;bottom:-7px;left:50%;display:block;display:none;overflow:hidden;margin-left:-5px;width:0;height:0;border-color:#fff #fff #d2d2d2;border-style:solid;border-width:0 5px 5px;}
.city-list-2 dd a.on em{display:block;}
.city-close{display:block;margin:5px 10px 0 0;}
.phone-list li{position:relative;float:left;margin:30px 25px 0 0;padding:10px;width:198px;border:1px solid #ccc;}
.phone-list li.last{margin-right:0;}
.phone-list li:hover{z-index:10;background:#f5f5f5;box-shadow:5px 3px 5px #d5d5d5;-webkit-transition:all .3s linear 0;-moz-transition:all .3s linear 0;transition:all .3s linear 0;-webkit-transform:translateY(-10px);-moz-transform:translateY(-10px);transform:translateY(-10px);}
.product-info{position:relative;padding:0 35px;}
.product-info span{display:block;}
.product-info .recovery{height:30px;line-height:30px;}
.recovery em.red{color:#ff2f2f;font-style:normal;}
.badge{display:inline-block;margin:5px 0;padding:2px 6px;min-width:10px;border-radius:3px;background-color:#eee;color:#666;vertical-align:baseline;text-align:center;white-space:nowrap;font-size:12px;}
.trend-icon{position:absolute;right:15%;display:inline-block;margin-top:30px;width:20px;height:23px;background:url(../images/trend-icon.png) no-repeat 0 0;}
.trend-icon:hover{background:url(../images/trend-icon-hover.png) no-repeat 0 0;}
.trend-box{position:absolute;bottom:100px;left:55px;z-index:1000;display:none;width:205px;height:150px;background:url(../images/trend.png) no-repeat 0 0;}
.trend-box h4{height:30px;text-indent:12px;line-height:35px;}
.chart-box{margin:0 auto;width:180px;height:110px;}
.phone-list{padding:10px 0 20px 0;}
.tip{padding:10px 0 40px 20px;font-size:14px;}
.tip em.red{color:#ff2f2f;font-style:normal;}
.headline,.head{position:relative;margin:10px 0 3px 0;padding:8px 0;}
.headline{border-bottom:2px solid #2168cc;}
.icon{display:inline-block;width:28px;height:28px;}
.icon-home{float:left;display:inline-block;width:28px;height:28px;background:url(../images/home.png) no-repeat;}
.headline h3,.head h3{display:inline-block;color:#000;font-weight:bold;font-size:16px;}
.phone-list li.on{box-shadow:5px 0 7px #d5d5d5;}
.phone-list li.on a.phone-btn{background-color:#0085d0;}
.phone-list li img{display:block;margin:0 auto;padding:35px 0;width:160px;height:160px;}
.phone-name{display:block;overflow:hidden;height:30px;font-size:16px;line-height:30px;}
a.phone-btn{display:block;margin:13px auto 0;width:145px;height:45px;border-radius:10px;background-color:#40a7f6;color:#fff;text-align:center;font-family:"Microsoft YaHei";line-height:45px;}
a.phone-btn em{padding-right:5px;font-size:16px;}
.footer-icon,.footer-info li a{display:block;background-image:url(../images/btm-spr.png);background-repeat:no-repeat;}
.footer{width:100%;background-color:#f5f5f5;}
.footer-t{padding:24px 0;width:100%;height:50px;border-bottom:1px solid #ddd;}
.footer-t-list li{float:left;padding:0 0 0 90px;width:210px;height:50px;}
.footer-icon1{background-position:30px 0;}
.footer-icon2{background-position:30px -50px;}
.footer-icon3{background-position:30px -100px;}
.footer-icon4{background-position:30px -150px;}
.footer-t-list h4{font-weight:bold;font-size:16px;}
.footer-t-list p{color:#40a7f6;}
.footer-m{padding:30px 0;}
.footer-m-lf{width:880px;border-right:1px solid #ddd;}
.footer-info li{float:left;padding:0 20px 0 16px;width:110px;}
.footer-info li h4{margin-bottom:15px;height:36px;border-bottom:1px solid #ddd;font-weight:bold;font-size:16px;line-height:36px;}
.footer-info li a{display:block;overflow:hidden;height:22px;background-position:0 -234px;text-indent:10px;line-height:22px;}
.footer-m-rt{padding-left:22px;width:297px;}
.footter-tel{overflow:hidden;padding-left:40px;height:34px;background-position:0 -200px;color:#979693;line-height:16px;}
.footter-tel em{display:block;height:18px;font:18px/18px Arial,Helvetica,sans-serif bold;}
.footer-down{padding-top:14px;}
.ios-dbtn,.and-dbtn{width:122px;height:25px;border:1px solid #c2c2c2;border-radius:15px;text-indent:36px;line-height:25px;}
a.ios-dbtn:hover,a.and-dbtn:hover{border:1px solid #0085d0;background-color:#0085d0;color:#fff;}
.ios-dbtn{background-position:12px -256px;}
.and-dbtn{margin-top:5px;background-position:12px -306px;}
a.ios-dbtn:hover{background-position:12px -281px;}
a.and-dbtn:hover{background-position:12px -331px;}
.footer-code{top:14px;left:152px;}
.footer-b{padding:10px 0;}
.footer-link-pic img{display:inline-block;margin:0 3px;border:1px solid #ddd;border-radius:2px;}
.bspr{display:block;width:128px;height:29px;background:url(../images/download.png) no-repeat;}
.icon-android{margin-top:5px;width:128px;height:29px;background-position:0 0;}
.icon-ios{width:129px;height:29px;background-position:0 -79px;}
.icon-android:hover{width:128px;height:30px;background-position:0 -158px;}
.icon-ios:hover{width:128px;height:29px;background-position:0 -238px;}
.izl-rmenu{position:fixed;right:10px;bottom:10px;z-index:999;padding-bottom:73px;background:url(../images/r_b.png) 0 bottom no-repeat;}
.izl-rmenu .btn{position:relative;margin-bottom:5px;width:50px;height:50px;cursor:pointer;}
.izl-rmenu .btn-qq{background:url(../images/r_qq.png) 0 0 no-repeat;background-color:#bbb;}
.izl-rmenu a.btn-qq,.izl-rmenu a.btn-qq:visited{display:block;background:url(../images/r_qq.png) 0 0 no-repeat;background-color:#bbb;text-decoration:none;}
.izl-rmenu .btn-edit{background:url(../images/r_edit.png) 0 0 no-repeat;background-color:#bbb;}
.izl-rmenu .btn .edit,.izl-rmenu .btn .kefu,.izl-rmenu .btn .gotop{position:absolute;top:0;left:-160px;display:none;width:160px;background-color:#2693ff;color:#FFF;text-align:center;font-size:18px;line-height:50px;}
.izl-rmenu .btn-edit .arrow-right{position:absolute;top:15px;right:-10px;width:0;height:0;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #2693ff;font-size:0;line-height:0;}
.izl-rmenu .btn-eidt .pic{position:absolute;top:0;left:-160px;display:none;width:160px;height:160px;}
.izl-rmenu .btn-help{background:url(../images/r_help.png) 0 0 no-repeat;background-color:#bbb;}
.izl-rmenu .btn-top{display:none;background:url(../images/r_top.png) 0 0 no-repeat;background-color:#bbb;}
.izl-rmenu .btn-edit:hover,.izl-rmenu .btn-top:hover,.izl-rmenu .btn-help:hover,.izl-rmenu .btn-qq:hover{background-color:#ff5c26;}
.page{margin:0 auto;}
ul.simple-pagination{list-style:none;}
.simple-pagination{float:right;display:block;overflow:hidden;margin:0 auto;padding:0 5px 5px 0;}
.simple-pagination ul{margin:0;padding:0;list-style:none;}
.simple-pagination li{float:left;margin:0;padding:0;list-style:none;}
.light-theme a,.light-theme span{display:inline-block;margin-left:5px;width:34px;height:34px;border:1px solid #f2f2f2;background-color:#fafafa;color:#999;text-align:center;font-size:14px;line-height:34px;cursor:pointer;}
.light-theme .prev,.light-theme .next{width:78px !important;}
.light-theme a:hover{background:#d7d7d7;text-decoration:none;}
.light-theme .current{background-color:#2168cc;color:white;cursor:default;}
.light-theme .ellipse{border:0;border-radius:0;background:0;box-shadow:none;font-weight:bold;cursor:default;}
.icon{background:url(../images/spr.png) no-repeat;}
.icon-addr{width:18px;height:30px;background-position:0 -495px;vertical-align:middle;}
.header-btn-2-hover .icon-car{background-position:-28px -568px;}
.icon-car{width:22px;height:22px;background-position:0 -568px;vertical-align:middle;}
.icon-code{width:18px;height:18px;background-position:0 -637px;vertical-align:middle;}
.hover .icon-code{background-position:-29px -637px;}
.icon-m-brand{width:28px;height:28px;background-position:0 -701px;vertical-align:top;}
.icon-m-type{width:29px;height:28px;background-position:0 -779px;vertical-align:top;}
.icon-r_edit{width:50px;height:50px;background-position:0 -857px;}
.icon-r_help{width:50px;height:50px;background-position:0 -957px;}
.icon-r_qq{width:50px;height:50px;background-position:0 -1057px;}
.icon-r_top{width:50px;height:50px;background-position:0 -1157px;}
.icon-so{position:absolute;z-index:2;width:40px;height:42px;background-position:12px -1251px;}
.icon-start{width:20px;height:15px;background-position:-30px -1335px;vertical-align:middle;}
.collect:hover .icon-start{background-position:0 -1335px;}
.collect.active .icon-start{background-position:0 -1335px;}
.collect.active a{color:#2168cc;}
.icon-tel{width:16px;height:22px;background-position:0 -1397px;vertical-align:middle;}
.hover .icon-tel{background-position:-29px -1397px;}
.icon-trend1{width:205px;height:150px;background-position:0 -1613px;}
.icon-user{width:25px;height:22px;background-position:0 -1810px;vertical-align:text-bottom;}
.hover .icon-user{background-position:-40px -1810px;}
.header-btn-2-hover .icon-car{background-position:-28px -568px;}
.breadcrumb{margin-bottom:10px;padding:8px 15px;border-radius:4px;list-style:none;}
.breadcrumb ul li{display:inline-block;font-size:13px;}
.breadcrumb ul li.active a{color:#2168cc;}
.breadcrumb ul li span{padding:0 5px 0 10px;}
