/*css reset */
html{margin:0;padding:0;border:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;-webkit-tap-highlight-color:transparent;}
a,abbr,acronym,address,article,aside,blockquote,body,caption,code,dd,del,dfn,dialog,div,dl,dt,em,fieldset,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,iframe,legend,li,nav,object,ol,p,pre,q,section,span,tbody,tfoot,thead,ul{margin:0;padding:0;border:0;vertical-align:baseline;font:inherit;font-size:14px;}
article,aside,details,dialog,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
body{background:#fff;color:#333;font-size:14px;font-family:"Microsoft YaHei",simsun,"Helvetica Neue",Arial,Helvetica,sans-serif;}
img{border:0;vertical-align:bottom;}
::-webkit-input-placeholder{color:#ccc;}
:-moz-placeholder{color:#ccc;}
::-moz-placeholder{color:#ccc;}
:-ms-input-placeholder{color:#ccc;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
textarea{overflow:auto;}
button:focus,input:focus,select:focus,textarea:focus{outline:0;}
input::-ms-clear{display:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline;}
audio:not([controls]){display:none;height:0;}
[hidden],template{display:none;}
a:active,a:hover{outline:0;}
a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:700;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
small{font-size:80%;}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0;}
sup{top:-.5em;}
sub{bottom:-.25em;}
svg:not(:root){overflow:hidden;}
figure{margin:1em 40px;}
hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}
pre{overflow:auto;}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace;}
button,input,optgroup,select,textarea{margin:0;font:inherit;}
button{overflow:visible;}
button,select{text-transform:none;}
button,html input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;}
button[disabled],html input[disabled]{cursor:default;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0;}
input{line-height:normal;}
input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto;}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield;}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}
input[disabled],input[readonly],textarea[disabled],textarea[readonly],select[disabled],select[readonly]{cursor:not-allowed;background:#eee;}/*IE6无效*/
textarea.input{height:auto;}
fieldset{margin:0 2px;padding:.35em .625em .75em;border:1px solid silver;}
legend{padding:0;border:0;}
optgroup{font-weight:700;}
table{border-collapse:collapse;border-spacing:0;}
td,th{padding:0;}
em,i{font-weight:400;font-style:normal;}
li,ol,ul{list-style:none;}
.clearfix:after,.clearfix:before{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.h1,h1{font-size:24px;}
.h2,h2{font-size:20px;}
.h3,h3{font-size:18px;}
.h4,h4{font-size:16px;}
.h5,h5{font-size:14px;}
.h6,h6{font-size:12px;}
.h1 small,.h2 small,.h3 small,h1 small,h2 small,h3 small{font-size:60%;opacity:.6;filter:alpha(opacity=60);}
.h4 small,.h5 small,.h6 small,h4 small,h5 small,h6 small{font-size:12px;opacity:.6;filter:alpha(opacity=60);}
.p,p{margin-bottom:15px;line-height:24px;}
.wrapper{margin:0 auto;width:1200px;}
.text-indent,.text-indent div,.text-indent p{text-indent:2em;}
.text-left,.tx-left{text-align:left;}
.text-center,.tx-cen{text-align:center;}
.text-right,.tx-right{text-align:right;}
.text-justify{text-align:justify;}
.text-large{font-size:24px;}
.text-big{font-size:16px;}
.text-default{font-size:14px;}
.text-small{font-size:12px;}
.text-little{font-size:10px;}
.fb{font-weight:700;}
.fl{float:left;}
.fr{float:right;}
.p-r{position:relative;}
.p-a{position:absolute;}
.zoom{overflow:hidden;zoom:1;}
.mt-10{margin-top:10px;}
.mb-10{margin-bottom:10px;}
.mt-15{margin-top:15px;}
.mt-20{margin-top:20px;}
.mt-30{margin-top:30px;}
.mt-50{margin-top:50px;}
.cor-gary{color:#999;}
.cor-org{color:#ff4d4d!important;}
.c-black{color:#666;}
.c-red{color:#ff4d4d;}
.cor-red{color:#ff4d4d;}
.hide,.none{display:none;}
.block{display:block;}



/*index2 公共元素*/
.oran-btn{display:inline-block;padding:0 50px;height:32px;border:0;background:#FF9326!important;color:#fff;line-height:32px;}
.oran-btn:hover{color:#fff;}
.tabs .tabs-label li{float:left;}
.tabs .tabs-label li a{display:block;margin-right:20px;padding:5px 20px;border-radius:5px 5px 0 0;background:#fff;color:#333;}
.tabs .tabs-label li.active a{background:#eee;color:#1194CC;}
.tabs .tabs-content{clear:both;}
.btn-radius{display:inline-block;padding:0 8px;height:40px;border:1px solid #ddd;border-radius:8px;background:#eee;line-height:40px;}
.btn-radius:hover{background:#20AFEC;color:#fff;}
.common-btn{display:inline-block;width:160px;height:50px;color:#fff;color:#fff;text-align:center;font-size:20px;line-height:50px!important;}
.common-btn:hover{color:#fff;}
.common-btn.oran{background-color:#20AFEC;color: #fff;  font-size: 16px;}
.common-btn.oran:hover{  background-color: rgba(32, 175, 236, 0.6);}
.common-btn.red{background-color:#FF9326;color: #fff;  font-size: 16px;}
.common-btn.red:hover{  background-color:rgba(255, 147, 38, 0.59);}
.common-btn.gray{background-color:#BFBFBF;}
.common-btn.gray:hover{background:#FF9326;}
.count-input.disable{width:100%;border:0;background:#fff;}
.my-placeholder{color:#999;}


/*水平线*/
hr{float:none;clear:both;-moz-box-sizing:content-box;box-sizing:content-box;margin:10px 0;width:100%;height:1px;border:none;background:#eee;color:#ddd;}
/*空白水平线*/
hr.space{visibility:hidden;background:#fff;color:#fff;}
.img-responsive{display:block;max-width:100%;height:auto;}
.button-block{display:block;width:100%;}
/*按钮*/
.button{display:inline-block;margin:0;padding:6px 15px;border:solid 1px #ddd;border-radius:4px;background:0 0;font-size:14px;line-height:20px;transition:all 1s cubic-bezier(.175,.885,.32,1) 0s;}
.button[disabled]{box-shadow:none;opacity:.5;cursor:not-allowed;pointer-events:none;webkit-box-shadow:none;filter:alpha(opacity=50);}
.button:active{outline:0;background-image:none;transition:all .3s cubic-bezier(.175,.885,.32,1) 0s;}
.button:hover{transition:all .3s cubic-bezier(.175,.885,.32,1) 0s;}
.button-block{display:block;width:100%;}
.button-large{padding:15px 20px;font-size:24px;line-height:24px;}
.button-big{padding:10px 15px;font-size:18px;line-height:22px;}
.button-small{padding:5px 10px;font-weight:400;font-size:12px;line-height:18px;}
.button-little{padding:3px 5px;font-weight:400;font-size:12px;line-height:16px;}
.button.bg-black,.button.bg-blue,.button.bg-dot,.button.bg-gray,.button.bg-green,.button.bg-main,.button.bg-red,.button.bg-sub,.button.bg-yellow{color:#fff;}


/*网格布局*/
.layout{width:100%;}
.container,.container-layout{margin:0 auto;padding:0 10px;}
@media (min-width:760px){.container{width:760px;}}
@media (min-width:1000px){.container{width:1000px;}}
@media (min-width:1200px){.container{width:1200px;}}
.line{margin:0;padding:0;}
.x1,.x2,.x3,.x4,.x5,.x6,.x7,.x8,.x9,.x10,.x11,.x12,.xl1,.xl2,.xl3,.xl4,.xl5,.xl6,.xl7,.xl8,.xl9,.xl10,.xl11,.xl12,.xs1,.xs2,.xs3,.xs4,.xs5,.xs6,.xs7,.xs8,.xs9,.xs10,.xs11,.xs12,.xm1,.xm2,.xm3,.xm4,.xm5,.xm6,.xm7,.xm8,.xm9,.xm10,.xm11,.xm12,.xb1,.xb2,.xb3,.xb4,.xb5,.xb6,.xb7,.xb8,.xb9,.xb10,.xb11,.xb12{position:relative;min-height:1px;}
.line-big{margin-left:-10px;margin-right:-10px;}
.line-big .x1,.line-big .x2,.line-big .x3,.line-big .x4,.line-big .x5,.line-big .x6,.line-big .x7,.line-big .x8,.line-big .x9,.line-big .x10,.line-big .x11,.line-big .x12,
.line-big .xl1,.line-big .xl2,.line-big .xl3,.line-big .xl4,.line-big .xl5,.line-big .xl6,.line-big .xl7,.line-big .xl8,.line-big .xl9,.line-big .xl10,.line-big .xl11,.line-big .xl12,
.line-big .xs1,.line-big .xs2,.line-big .xs3,.line-big .xs4,.line-big .xs5,.line-big .xs6,.line-big .xs7,.line-big .xs8,.line-big .xs9,.line-big .xs10,.line-big .xs11,.line-big .xs12,
.line-big .xm1,.line-big .xm2,.line-big .xm3,.line-big .xm4,.line-big .xm5,.line-big .xm6,.line-big .xm7,.line-big .xm8,.line-big .xm9,.line-big .xm10,.line-big .xm11,.line-big .xm12,
.line-big .xb1,.line-big .xb2,.line-big .xb3,.line-big .xb4,.line-big .xb5,.line-big .xb6,.line-big .xb7,.line-big .xb8,.line-big .xb9,.line-big .xb10,.line-big .xb11,.line-big .xb12{position:relative;min-height:1px;padding-right:10px;padding-left:10px;}
.line-middle{margin-left:-5px;margin-right:-5px;}
.line-middle .x1,.line-middle .x2,.line-middle .x3,.line-middle .x4,.line-middle .x5,.line-middle .x6,.line-middle .x7,.line-middle .x8,.line-middle .x9,.line-middle .x10,.line-middle .x11,.line-middle .x12,
.line-middle .xl1,.line-middle .xl2,.line-middle .xl3,.line-middle .xl4,.line-middle .xl5,.line-middle .xl6,.line-middle .xl7,.line-middle .xl8,.line-middle .xl9,.line-middle .xl10,.line-middle .xl11,.line-middle .xl12,
.line-middle .xs1,.line-middle .xs2,.line-middle .xs3,.line-middle .xs4,.line-middle .xs5,.line-middle .xs6,.line-middle .xs7,.line-middle .xs8,.line-middle .xs9,.line-middle .xs10,.line-middle .xs11,.line-middle .xs12,
.line-middle .xm1,.line-middle .xm2,.line-middle .xm3,.line-middle .xm4,.line-middle .xm5,.line-middle .xm6,.line-middle .xm7,.line-middle .xm8,.line-middle .xm9,.line-middle .xm10,.line-middle .xm11,.line-middle .xm12,
.line-middle .xb1,.line-middle .xb2,.line-middle .xb3,.line-middle .xb4,.line-middle .xb5,.line-middle .xb6,.line-middle .xb7,.line-middle .xb8,.line-middle .xb9,.line-middle .xb10,.line-middle .xb11,.line-middle .xb12{position:relative;min-height:1px;padding-right:5px;padding-left:5px;}
.line-small{margin-left:-2px;margin-right:-2px;}
.line-small .x1,.line-small .x2,.line-small .x3,.line-small .x4,.line-small .x5,.line-small .x6,.line-small .x7,.line-small .x8,.line-small .x9,.line-small .x10,.line-small .x11,.line-small .x12,
.line-small .xl1,.line-small .xl2,.line-small .xl3,.line-small .xl4,.line-small .xl5,.line-small .xl6,.line-small .xl7,.line-small .xl8,.line-small .xl9,.line-small .xl10,.line-small .xl11,.line-small .xl12,
.line-small .xs1,.line-small .xs2,.line-small .xs3,.line-small .xs4,.line-small .xs5,.line-small .xs6,.line-small .xs7,.line-small .xs8,.line-small .xs9,.line-small .xs10,.line-small .xs11,.line-small .xs12,
.line-small .xm1,.line-small .xm2,.line-small .xm3,.line-small .xm4,.line-small .xm5,.line-small .xm6,.line-small .xm7,.line-small .xm8,.line-small .xm9,.line-small .xm10,.line-small .xm11,.line-small .xm12,
.line-small .xb1,.line-small .xb2,.line-small .xb3,.line-small .xb4,.line-small .xb5,.line-small .xb6,.line-small .xb7,.line-small .xb8,.line-small .xb9,.line-small .xb10,.line-small .xb11,.line-small .xb12{position:relative;min-height:1px;padding-right:2px;padding-left:2px;}
.x1,.x2,.x3,.x4,.x5,.x6,.x7,.x8,.x9,.x10,.x11,.x12{float:left;}
.x1{width:8.33333333%;}.x2{width:16.66666667%;}.x3{width:25%;}.x4{width:33.33333333%;}.x5{width:41.66666667%;}.x6{width:50%;}.x7{width:58.33333333%;}.x8{width:66.66666667%;}.x9{width:75%;}.x10{width:83.33333333%;}.x11{width:91.66666667%;}.x12{width:100%;}
.x0-left{left:0;}.x1-left{left:8.33333333%;}.x2-left{left:16.66666667%;}.x3-left{left:25%;}.x4-left{left:33.33333333%;}.x5-left{left:41.66666667%;}.x6-left{left:50%;}.x7-left{left:58.33333333%;}.x8-left{left:66.66666667%;}.x9-left{left:75%;}.x10-left{left:83.33333333%;}.x11-left{left:91.66666667%;}.x12-left{left:100%;}
.x0-right{right:0;}.x1-right{right:8.33333333%;}.x2-right{right:16.66666667%;}.x3-right{right:25%;}.x4-right{right:33.33333333%;}.x5-right{right:41.66666667%;}.x6-right{right:50%;}.x7-right{right:58.33333333%;}.x8-right{right:66.66666667%;}.x9-right{right:75%;}.x10-right{right:83.33333333%;}.x11-right{right:91.66666667%;}.x12-right{right:100%;}
.x0-move{margin-left:0;}.x1-move{margin-left:8.33333333%;}.x2-move{margin-left:16.66666667%;}.x3-move{margin-left:25%;}.x4-move{margin-left:33.33333333%;}.x5-move{margin-left:41.66666667%;}.x6-move{margin-left:50%;}.x7-move{margin-left:58.33333333%;}.x8-move{margin-left:66.66666667%;}.x9-move{margin-left:75%;}.x10-move{margin-left:83.33333333%;}.x11-move{margin-left:91.66666667%;}.x12-move{margin-left:100%;}
@media (min-width:300px){
.xl1,.xl2,.xl3,.xl4,.xl5,.xl6,.xl7,.xl8,.xl9,.xl10,.xl11,.xl12{float:left;}
.xl1{width:8.33333333%;}.xl2{width:16.66666667%;}.xl3{width:25%;}.xl4{width:33.33333333%;}.xl5{width:41.66666667%;}.xl6{width:50%;}.xl7{width:58.33333333%;}.xl8{width:66.66666667%;}.xl9{width:75%;}.xl10{width:83.33333333%;}.xl11{width:91.66666667%;}.xl12{width:100%;}
.xl0-left{left:0;}.xl1-left{left:8.33333333%;}.xl2-left{left:16.66666667%;}.xl3-left{left:25%;}.xl4-left{left:33.33333333%;}.xl5-left{left:41.66666667%;}.xl6-left{left:50%;}.xl7-left{left:58.33333333%;}.xl8-left{left:66.66666667%;}.xl9-left{left:75%;}.xl10-left{left:83.33333333%;}.xl11-left{left:91.66666667%;}.xl12-left{left:100%;}
.xl0-right{right:0;}.xl1-right{right:8.33333333%;}.xl2-right{right:16.66666667%;}.xl3-right{right:25%;}.xl4-right{right:33.33333333%;}.xl5-right{right:41.66666667%;}.xl6-right{right:50%;}.xl7-right{right:58.33333333%;}.xl8-right{right:66.66666667%;}.xl9-right{right:75%;}.xl10-right{right:83.33333333%;}.xl11-right{right:91.66666667%;}.xl12-right{right:100%;}
.xl0-move{margin-left:0;}.xl1-move{margin-left:8.33333333%;}.xl2-move{margin-left:16.66666667%;}.xl3-move{margin-left:25%;}.xl4-move{margin-left:33.33333333%;}.xl5-move{margin-left:41.66666667%;}.xl6-move{margin-left:50%;}.xl7-move{margin-left:58.33333333%;}.xl8-move{margin-left:66.66666667%;}.xl9-move{margin-left:75%;}.xl10-move{margin-left:83.33333333%;}.xl11-move{margin-left:91.66666667%;}.xl12-move{margin-left:100%;}
}
@media (min-width:760px){
.xs1,.xs2,.xs3,.xs4,.xs5,.xs6,.xs7,.xs8,.xs9,.xs10,.xs11,.xs12{float:left;}
.xs1{width:8.33333333%;}.xs2{width:16.66666667%;}.xs3{width:25%;}.xs4{width:33.33333333%;}.xs5{width:41.66666667%;}.xs6{width:50%;}.xs7{width:58.33333333%;}.xs8{width:66.66666667%;}.xs9{width:75%;}.xs10{width:83.33333333%;}.xs11{width:91.66666667%;}.xs12{width:100%;}
.xs0-left{left:0;}.xs1-left{left:8.33333333%;}.xs2-left{left:16.66666667%;}.xs3-left{left:25%;}.xs4-left{left:33.33333333%;}.xs5-left{left:41.66666667%;}.xs6-left{left:50%;}.xs7-left{left:58.33333333%;}.xs8-left{left:66.66666667%;}.xs9-left{left:75%;}.xs10-left{left:83.33333333%;}.xs11-left{left:91.66666667%;}.xs12-left{left:100%;}
.xs0-right{right:0;}.xs1-right{right:8.33333333%;}.xs2-right{right:16.66666667%;}.xs3-right{right:25%;}.xs4-right{right:33.33333333%;}.xs5-right{right:41.66666667%;}.xs6-right{right:50%;}.xs7-right{right:58.33333333%;}.xs8-right{right:66.66666667%;}.xs9-right{right:75%;}.xs10-right{right:83.33333333%;}.xs11-right{right:91.66666667%;}.xs12-right{right:100%;}
.xs0-move{margin-left:0;}.xs1-move{margin-left:8.33333333%;}.xs2-move{margin-left:16.66666667%;}.xs3-move{margin-left:25%;}.xs4-move{margin-left:33.33333333%;}.xs5-move{margin-left:41.66666667%;}.xs6-move{margin-left:50%;}.xs7-move{margin-left:58.33333333%;}.xs8-move{margin-left:66.66666667%;}.xs9-move{margin-left:75%;}.xs10-move{margin-left:83.33333333%;}.xs11-move{margin-left:91.66666667%;}.xs12-move{margin-left:100%;}
}
@media (min-width:1000px){
.xm1,.xm2,.xm3,.xm4,.xm5,.xm6,.xm7,.xm8,.xm9,.xm10,.xm11,.xm12{float:left;}
.xm1{width:8.33333333%;}.xm2{width:16.66666667%;}.xm3{width:25%;}.xm4{width:33.33333333%;}.xm5{width:41.66666667%;}.xm6{width:50%;}.xm7{width:58.33333333%;}.xm8{width:66.66666667%;}.xm9{width:75%;}.xm10{width:83.33333333%;}.xm11{width:91.66666667%;}.xm12{width:100%;}
.xm0-left{left:0;}.xm1-left{left:8.33333333%;}.xm2-left{left:16.66666667%;}.xm3-left{left:25%;}.xm4-left{left:33.33333333%;}.xm5-left{left:41.66666667%;}.xm6-left{left:50%;}.xm7-left{left:58.33333333%;}.xm8-left{left:66.66666667%;}.xm9-left{left:75%;}.xm10-left{left:83.33333333%;}.xm11-left{left:91.66666667%;}.xm12-left{left:100%;}
.xm0-right{right:0;}.xm1-right{right:8.33333333%;}.xm2-right{right:16.66666667%;}.xm3-right{right:25%;}.xm4-right{right:33.33333333%;}.xm5-right{right:41.66666667%;}.xm6-right{right:50%;}.xm7-right{right:58.33333333%;}.xm8-right{right:66.66666667%;}.xm9-right{right:75%;}.xm10-right{right:83.33333333%;}.xm11-right{right:91.66666667%;}.xm12-right{right:100%;}
.xm0-move{margin-left:0;}.xm1-move{margin-left:8.33333333%;}.xm2-move{margin-left:16.66666667%;}.xm3-move{margin-left:25%;}.xm4-move{margin-left:33.33333333%;}.xm5-move{margin-left:41.66666667%;}.xm6-move{margin-left:50%;}.xm7-move{margin-left:58.33333333%;}.xm8-move{margin-left:66.66666667%;}.xm9-move{margin-left:75%;}.xm10-move{margin-left:83.33333333%;}.xm11-move{margin-left:91.66666667%;}.xm12-move{margin-left:100%;}
}
@media (min-width:1200px){
.xb1,.xb2,.xb3,.xb4,.xb5,.xb6,.xb7,.xb8,.xb9,.xb10,.xb11,.xb12{float:left;}
.xb1{width:8.33333333%;}.xb2{width:16.66666667%;}.xb3{width:25%;}.xb4{width:33.33333333%;}.xb5{width:41.66666667%;}.xb6{width:50%;}.xb7{width:58.33333333%;}.xb8{width:66.66666667%;}.xb9{width:75%;}.xb10{width:83.33333333%;}.xb11{width:91.66666667%;}.xb12{width:100%;}
.xb0-left{left:0;}.xb1-left{left:8.33333333%;}.xb2-left{left:16.66666667%;}.xb3-left{left:25%;}.xb4-left{left:33.33333333%;}.xb5-left{left:41.66666667%;}.xb6-left{left:50%;}.xb7-left{left:58.33333333%;}.xb8-left{left:66.66666667%;}.xb9-left{left:75%;}.xb10-left{left:83.33333333%;}.xb11-left{left:91.66666667%;}.xb12-left{left:100%;}
.xb0-right{right:0;}.xb1-right{right:8.33333333%;}.xb2-right{right:16.66666667%;}.xb3-right{right:25%;}.xb4-right{right:33.33333333%;}.xb5-right{right:41.66666667%;}.xb6-right{right:50%;}.xb7-right{right:58.33333333%;}.xb8-right{right:66.66666667%;}.xb9-right{right:75%;}.xb10-right{right:83.33333333%;}.xb11-right{right:91.66666667%;}.xb12-right{right:100%;}
.xb0-move{margin-left:0;}.xb1-move{margin-left:8.33333333%;}.xb2-move{margin-left:16.66666667%;}.xb3-move{margin-left:25%;}.xb4-move{margin-left:33.33333333%;}.xb5-move{margin-left:41.66666667%;}.xb6-move{margin-left:50%;}.xb7-move{margin-left:58.33333333%;}.xb8-move{margin-left:66.66666667%;}.xb9-move{margin-left:75%;}.xb10-move{margin-left:83.33333333%;}.xb11-move{margin-left:91.66666667%;}.xb12-move{margin-left:100%;}
}
@media (max-width:760px){
.show-l{display:block !important;}
.hidden-l{display:none !important;}
}
@media (min-width:761px) and (max-width:1000px){
.show-s{display:block !important;}
.hidden-s{display:none !important;}
}
@media (min-width:1001px) and (max-width:1200px){
.show-m{display:block !important;}
.hidden-m{display:none !important;}
}
@media (min-width:1201px){
.show-b{display:block !important;}
.hidden-b{display:none !important;}
}





/*tabs  切换*/



/*提示框*/


/*分页*/
.page{margin:0 auto;}
ul.simple-pagination{list-style:none;}
.simple-pagination{float:right;display:block;overflow:hidden;margin:0 auto;padding:0 5px 5px 0;}
.simple-pagination ul{margin:0;padding:0;list-style:none;}
.simple-pagination li{float:left;margin:0;padding:0;list-style:none;}
.light-theme a,.light-theme span{display:inline-block;margin-left:5px;width:34px;height:34px;border:1px solid #f2f2f2;background-color:#fafafa;color:#999;text-align:center;font-size:14px;line-height:34px;cursor:pointer;}
.light-theme .next,.light-theme .prev{width:78px!important;}
.light-theme a:hover{background:#d7d7d7;text-decoration:none;}
.light-theme .current{background-color:#20AFEC;color:#fff;cursor:default;}
.light-theme .ellipse{border:none;border-radius:0;background:0 0;box-shadow:none;font-weight:700;cursor:default;}


/*表单*/
.commom-input{width: 300px;height: 36px;line-height:36px;border: 1px solid #eee;padding-left:5px;}
.commom-input:hover{border: 1px solid #abc6ed}
.commom-input:active,.commom-input:focus{border: 1px solid #ff4d4d}
.commom-input::-webkit-input-placeholder,.commom-input:-moz-placeholder,.commom-input:-moz-placeholder  {color:#ccc;}
/*表格*/


/*弹出窗口*/
.jbox-fade{background-color:#000000;}
/* drag */
.jbox-drag{border:1px dashed #bf0058;}
/* jbox */
div.jbox {padding:0px;border:none;font-size:12px;}
/* border */

/* container */
div.jbox .jbox-container{background-color:#ffffff;}
/* title-panel */
div.jbox .jbox-title-panel{background: #20AFEC;}
div.jbox .jbox-title{font-weight:bold;color:#ffffff;}
div.jbox .jbox-title-icon{background:url(../images/jbox-title-icon.gif) no-repeat scroll 3px 5px transparent;}
div.jbox .jbox-close,div.jbox .jbox-close-hover{background:url(../images/jbox-close1.gif) no-repeat scroll 0px 0px transparent;}
div.jbox .jbox-close-hover{background-position:-16px 0;}
/* content */
div.jbox .jbox-content{min-height:24px;line-height:18px;color:#444444;}
div.jbox .jbox-content-loading{background-color:#E6E6E6;}
div.jbox .jbox-content-loading-image{background:url(../images/jbox-content-loading.gif) no-repeat bottom center;}
/* button-panel */
div.jbox .jbox-button-panel{border-top:1px solid #eee;background-color: #fff;}
div.jbox .jbox-bottom-text{text-indent:10px;color:#444444;}
div.jbox .jbox-button{background: #20afec;height:38px;line-height:38px;width:120px;color:#fff;cursor:default;border: 1px solid #20afec;  margin: 0px 20px;}
div.jbox .jbox-button-hover{background: #1298d1;}
div.jbox .jbox-button-active{background: #1298d1}
div.jbox-warning .jbox .jbox-button-panel{background-color: #FFFFFF;}
/* tip-color */
div.jbox .jbox-tip-color{background: #20afec;border-color:#20afec;color:#fff;}
/* icons */
div.jbox span.jbox-icon{background:url(../images/jbox-icons.png) no-repeat scroll 0 0 transparent;_background:url(../images/jbox-icons-ie6.gif) no-repeat scroll 0 0 transparent;}
div.jbox span.jbox-icon-info {background-position:0 0;}
div.jbox span.jbox-icon-question {background-position:-36px 0;}
div.jbox span.jbox-icon-success {background-position:-72px 0;}
div.jbox span.jbox-icon-warning {background-position:-108px 0;}
div.jbox span.jbox-icon-error {background-position:-144px 0;}
div.jbox span.jbox-icon-none {display: none; overflow:hidden;}
div.jbox span.jbox-icon-loading {background:url(../images/jbox-loading1.gif) no-repeat scroll 0 0 transparent;}
div.jbox-state{border-top: 3px solid #20afec;}

/*面包屑*/
.breadcrumb{margin-bottom:10px;padding:8px 15px;border-radius:4px;list-style:none;}
.breadcrumb ul li{display:inline-block;font-size:13px;}
.breadcrumb ul li.active a{color:#2168cc;}
.breadcrumb ul li span{padding:0 5px 0 10px;}





/*--------自定义背景色--------*/
.bg-main,.border-main .button.active,.pointer.border-main .active,.nav-pills.border-main .active a,.nav-main.border-main .nav-head,.pagination.border-main .active {
    background-color: #0a8;
} /*背景-主色*/
.bg-sub,.border-sub .button.active,.pointer.border-sub .active,.nav-pills.border-sub .active a,.nav-main.border-sub .nav-head,.pagination.border-sub .active {
    background-color: #0ae;
} /*背景-辅色*/




/*--------自定义按钮悬浮文本、边框及背景色--------*/
.button.border-main:hover,.button.border-main:focus,.button.bg-main:hover,.button.bg-main:focus {
    border-color: #0ab;
    background-color: #0ab;
    color: #fff;
} /*主色-文本-边框-背景*/
.button.border-sub:hover,.button.border-sub:focus,.button.bg-sub:hover,.button.bg-sub:focus {
    border-color: #09f;
    background-color: #09f;
    color: #fff;
} /*配色-文本-边框-背景*/


