.valuation{width: 100%;background: #eee;padding: 20px 0px;}
.container{width: 1200px;margin:0 auto;}
.valuation .left{width: 70%;float:left;}
.valuation .left img {
vertical-align: middle;
display: inline-block;
width: 100px;
height: 100px
}
.valuation .right{vertical-align: middle;width:30%;display: inline-block;float:right;padding: 18px 0px;}
.valuation h2.product_name {
margin-left: 20px;
color: #666;
font-size: 18px;
font-weight: bold;
vertical-align: middle;
display: inline-block;
}
.valuation .right ul li {
width: 120px;
text-align: center;
display: inline-block;
}
.valuation .right ul li+li {
text-align: center;
border-left: 1px solid #E0E0E0;
}
.valuation .right ul li div{
	font-weight: bold;
font-size: 26px;
color: #666;
}

.box dl {
padding: 29px 0;
}
.box dl .property_title {
display: block;
margin-bottom: 20px;
}
 .box dl .property_title.selected .square {
background: #4fabef;
text-align: center;
}
.box dl .property_title .square {
vertical-align: middle;
display: inline-block;
background: #ccc;
height: 24px;
width: 23px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
position: relative;
z-index: 5;
}
.box dl .property_title h3 {
font-size: 16px;
font-family: "微软雅黑";
vertical-align: middle;
margin-left: 3px;
display: inline-block;
}
.box dl dd {
display: block;
padding: 0 29px;
}
.box dl dd ul li {
vertical-align: middle;
text-align: center;
width: 168px;
border: 1px solid #eaeaea;
background: #fefefe;
cursor: pointer;
margin-right: 20px;
position: relative;
z-index: 5;
display: inline-block;
}
.box dl dd+dt {
margin-top: 36px;
}
.box dl dd ul li:hover, .box dl dd ul li.selected {
width: 166px;
border: 2px solid #4fabef;
background: #fff;
}
.box dl dd ul li:hover .property_value,.box  dl dd ul li.selected .property_value {
padding-top: 18px;
color: #4fabef;
}
.box dl dd ul li.oneline {
width: 168px;
border: 1px solid #eaeaea;
margin-bottom: 10px;
}
.box dl dd ul li .property_value {
padding:20px 0px;
display: block;
color: #666;
font-size: 16px;
font-weight: bold;
}
.box dl dd ul li .property_detail {
color: #999;
margin: 0 auto;
text-align: center;
margin-top: -5px;
height: 45px;
line-height: 20px;
vertical-align: top;
display: block;
font-size: 12px;
width: 132px;
}
.box dl dd ul li.oneline:hover, .box dl dd ul li.oneline.selected {
width: 166px;
border: 2px solid #4fabef;
}
.box dl dd ul li:hover .gou, .box dl dd ul li.selected .gou {
display: inline-block;
}
.box dl dd ul li .gou {
display: none;
position: absolute;
z-index: 10;
bottom: 0;
right: 0;
background: url("../Images/StaticPages/home/index_icon.min.png") -490px -137px;
width: 19px;
height: 19px;
}