.valuation{padding:20px 0;width:100%;background:#eee;}
.container{margin:0 auto;width:1200px;}
.valuation .left{float:left;width:70%;}
.valuation .left img{display:inline-block;width:100px;height:100px;vertical-align:middle;}
.valuation .right{float:right;display:inline-block;padding:18px 0;width:30%;vertical-align:middle;}
.valuation h2.product_name{display:inline-block;margin-left:20px;color:#666;vertical-align:middle;font-weight:bold;font-size:18px;}
.valuation .right ul li{display:inline-block;width:120px;text-align:center;}
.valuation .right ul li+li{border-left:1px solid #e0e0e0;text-align:center;}
.valuation .right ul li div{color:#666;font-weight:bold;font-size:26px;}
.box dl{padding:20px 0 30px 0;}
.box dl .property_title{display:block;margin-bottom:20px;}
.box dl .property_title.selected .square{background:#4fabef;text-align:center;}
.box dl .property_title .square{position:relative;z-index:5;display:inline-block;width:23px;height:24px;background:#ccc;vertical-align:middle;}
.box dl .property_title h3{display:inline-block;margin-left:3px;vertical-align:middle;font-size:16px;font-family:"微软雅黑";}
.box dl dd{display:block;padding:0 29px;}
.box dl dd ul li{position:relative;z-index:5;display:inline-block;margin-right:20px;width:178px;border:1px solid #eaeaea;background:#fefefe;vertical-align:middle;text-align:center;cursor:pointer;}
.box dl dd+dt{margin-top:20px;}
.box dl dd ul li:hover,.box dl dd ul li.selected{width:176px;border:2px solid #4fabef;background:#fff;}
.box dl dd ul li:hover .property_value,.box dl dd ul li.selected .property_value{padding:20px 0;width:175px;color:#4fabef;}
.box dl dd ul li.oneline{margin-bottom:10px;width:178px;border:1px solid #eaeaea;}
.box dl dd ul li .property_value{display:block;padding:20px 0;color:#666;font-weight:bold;font-size:16px;}
.box dl dd ul li .property_detail{display:block;margin:0 auto;margin-top:-5px;width:132px;height:65px;color:#999;vertical-align:top;text-align:center;font-size:12px;line-height:18px;}
.box dl dd ul li.oneline:hover,.box dl dd ul li.oneline.selected{width:176px;border:2px solid #4fabef;}
.box dl dd ul li:hover .gou,.box dl dd ul li.selected .gou{display:inline-block;}
.box dl dd ul li .gou{position:absolute;right:0;bottom:0;z-index:10;display:none;width:19px;height:19px;background:url(../images/index_icon.min.png) -490px -137px;}
.page dl dt.selected .gou{position:absolute;top:8px;left:5px;z-index:10;display:inline-block;width:13px;height:10px;background:url(../images/index_icon.min.png) -493px -166px;}
#wizard{position:relative;overflow:hidden;margin:20px auto;width:1200px;height:635px;border:1px solid #eaeaea;border-top:0;-webkit-border-radius:5px;-moz-border-radius:5px;font-size:12px;}
#wizard .items{position:absolute;clear:both;width:20000px;}
#wizard .right{float:right;}
#wizard #status{height:40px;background:#f0f0f0;}
#status li{float:left;padding:10px 30px;color:#fff;}
#status li.active{background-color:#f60;font-weight:normal;}
.input{margin:10px auto;padding:2px;width:240px;height:18px;border:1px solid #d3d3d3;line-height:20px;}
.page{float:left;padding:20px 30px;width:1140px;}
.page h3 em{font-weight:500;font-style:normal;font-size:12px;}
.page p{line-height:24px;}
.page p label{display:block;font-size:14px;}
.btn_nav{margin:20px auto;height:36px;line-height:36px;}
.prev,.next{width:100px;height:32px;border:1px solid #d3d3d3;line-height:32px;cursor:pointer;}
.box .filter dd,.box .filter dt{float:left;display:inline-block;margin-bottom:5px;padding:0;}
.box .filter dt{padding:0 10px;font-weight:bold;line-height:25px;}
.box .filter dd a{display:inline-block;margin-right:10px;padding:0 8px;padding-right:20px;height:22px;border:1px solid #4fabef;background:url(../images/close.gif) no-repeat right 8px;color:#aaa;text-align:center;line-height:22px;}
.box .filter dd a:hover{background-position:right -16px;}
