.valuation{width: 100%;background: #eee;padding: 20px 0px;}
.container{width: 1200px;margin:0 auto;}
.valuation .left{width: 70%;float:left;}
.valuation .left img {
vertical-align: middle;
display: inline-block;
width: 100px;
height: 100px
}
.valuation .right{vertical-align: middle;width:30%;display: inline-block;float:right;padding: 18px 0px;}
.valuation h2.product_name {
margin-left: 20px;
color: #666;
font-size: 18px;
font-weight: bold;
vertical-align: middle;
display: inline-block;
}
.valuation .right ul li {
width: 120px;
text-align: center;
display: inline-block;
}
.valuation .right ul li+li {
text-align: center;
border-left: 1px solid #E0E0E0;
}
.valuation .right ul li div{
	font-weight: bold;
font-size: 26px;
color: #666;
}
