body {
    background: url("../images/bg2.png") repeat scroll 0 0 transparent;
    color: #333333;
    font-family: Tahoma;
    font-size: 12px;
    margin: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0;
}

#nav {
    background: url("../images/nav_bg.png") repeat-x scroll 0 0 transparent;
    height: 45px;
    position: relative;
    z-index: 1;
}

#top {
    height: 74px;
    position: relative;
    z-index: 2;
}

#top, #nav-menu, #notice-content, #content {
    margin: 0 auto;
    width: 1280px;
}

#header, #top, #nav-menu, #notice, #content {
    clear: both;
    text-align: left;
}

.cl {
    clear: both;
}

#logo {
    background: url("/common/images/logo.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 54px;
    width: 152px;
}

.mt10 {
    margin-top: 10px;
}

.mt30 {
    margin-top: 30px;
}

.l {
    float: left;
}

#user-nav {
    position: relative;
}

.r {
    float: right;
}

ul {
    list-style: none outside none;
}

#nav-menu li:nth-child(1) {
    background: none repeat scroll 0 center transparent;
}

#nav-menu li {
    background: url("../images/nav_li.png") no-repeat scroll left center transparent;
    float: left;
    position: relative;
}

#nav-menu > ul > li > a.first {
    background: none repeat scroll 0 0 transparent;
    margin-left: 2px;
    margin-right: -2px;
    padding: 14px 32px 14px 28px;
}
#nav-menu > ul > li > a.selected {
    background: url("../images/nav_selected_bg.png") repeat-x scroll 0 0 transparent;
    color: #FFFFFF;
    margin-left: 2px;
    margin-right: -2px;
    overflow: hidden;
    padding: 14px 32px 14px 28px;
    position: relative;
    text-decoration: none;
    z-index: 10;
}
#nav-menu > ul > li > a {
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding: 14px 30px;
    position: relative;
    text-align: center;
}

a {
    color: #114091;
    text-decoration: none;
}

.mb10 {
    margin-bottom: 10px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb40 {
    margin-bottom: 40px;
}

/* ������������
----------------------------------*/
#viewport-left {
	width: 150px;
	margin: 20px 20px 0 0;
}

#viewport-left .vl-box-1 .box-1-title {
	display: inline-block;
	width: 100%;
	height: 35px;
	cursor: pointer;
}
#viewport-left .vl-box-1 .box-1-title a {
	float: right;
	margin-top: 4px;
}
#viewport-left .vl-box-1 .box-1-title a {
	text-decoration: none;
}
#viewport-left .vl-box-2 {
	padding: 14px 0;
	background: url(../images/line_x_0.png) no-repeat top center;
}
#viewport-left .vl-box-2 .box-2-title {
	font: bold normal 14px/normal normal;
	color: #2E384D;
	cursor: pointer;
	height: 18px;
}
#viewport-left .vl-box-2 .box-2-title em {
	display: inline-block;
	background-image:  url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	vertical-align: bottom;
	margin-right: 8px;
	margin-top: -3px;
}
#viewport-left .vl-box-2 .box-2-title .arrow-up {
	margin-right: 5px;
	line-height: 0;
}
#viewport-left .vl-box-2 ul, #viewport-left .vl-box-2 li {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}
#viewport-left .vl-box-2 ul {
	margin-top: 10px;
}
#viewport-left .vl-box-2 li a {
	display: inline-block;
	padding-left: 25px;
	padding-top: 4px;
	width: 135px;
	height: 20px;
	color: #2E384D;
}
#viewport-left .vl-box-2 li a:hover {
	background: #E3E4E8;
	text-decoration: none;
}
#viewport-left .vl-box-2 li a.selected {
	background: #E3E4E8;
	color: #006CD9;
	font-weight: bold;
}
#viewport-left .vl-box-2 ul em {
	display: inline-block;
	background-image:  url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 2px;
	margin-top: -3px;
}
#viewport-left .no-line {
	background: none;
}

#analyse-basic .box-1-title {
	background: url(../images/menu_title_base.png) no-repeat;
}
#analyse-advanced .box-1-title {
	background: url(../images/menu_title_advanced.png) no-repeat;
}
#viewport-left .vl-box-2 .menu-general-situation {
	background-position: 1px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-new-user {
	background-position: -20px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-user-behavior {
	background-position: -40px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-user-partake {
	background-position: -64px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-user-attribute {
	background-position: -85px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-income {
	background-position: -106px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 ul .menu-icon-point {
	background-position: -57px 0;
	width: 19px;
	height: 16px;
}
#viewport-left .vl-box-2 ul .menu-icon-new {
	background-position: -78px 0;
	width: 21px;
	height: 5px;
}
#btn-add-module {
	background-position: 0 -46px;
	width: 130px;
	height: 46px;
}
#btn-add-module:hover {
	background-position: 0 -94px;
}
#btn-add-module-select,
#btn-add-module:active{
	background-position: -134px -46px;
	width: 130px;
	height: 46px;
}
#btn-adding {
	background:url('../images/button.png') no-repeat;
	width: 130px;
	height: 46px;
}
#btn-adding:hover {
	background-position: 0 -48px;
}
#btn-add-all-module {
	background-position: 0 -142px;
	width: 379px;
	height: 46px;
}
#btn-add-all-module:hover {
	background-position: 0 -190px;
}
#btn-add-all-module-disable {
	background-position: 0 -240px;
	width: 379px;
	height: 46px;
}

/* �������������
----------------------------------*/
#viewport-left, #viewport-center {
    float: left;
}
#viewport-center {
	width: 1100px;
	margin-top: 10px;
	float: left;
}
#viewport-center .vc-box-1 {
	background: #FFF;
	border: 1px solid #A2A7B0;
	padding-bottom: 20px;
}
#viewport-center .vc-box-2 {
	background: #FFF;
	border-top: 1px solid #A2A7B0;
	border-left: 1px solid #A2A7B0;
	border-right: 1px solid #A2A7B0;
}
#viewport-center .vc-box-1 .box-1-title,
#viewport-center .vc-box-2 .box-2-title {
	padding: 10px 15px 10px 20px;
	overflow: hidden;
}
#viewport-center h2 {
	font-family: Microsoft Yahei,SimSun;
	font-size: 20px;
}
#viewport-center .vc-box-1 .box-1-title .box-title-info,
#viewport-center .vc-box-2 .box-2-title .box-title-info {
	margin-top: 3px;
}

#viewport-center .vc-box-1 .box-select-role {
	border-top: 1px solid #CACCCF;
	border-bottom: 1px solid #CACCCF;
	background: url(../images/box_select_role_bg.png) repeat-x;
	height: 114px;
}
#viewport-center .vc-box-1 .box-select-role dl {
	margin: 20px 21px 20px 50px;
}
#viewport-center .vc-box-1 .box-select-role dt {
	float: left;
	display: inline-block;
	background-image: url(../images/icon_sprite.png);
	background-repeat: no-repeat;
	margin: 0 15px 0 0;
}
#viewport-center .vc-box-1 .box-select-role dd {
	margin: 3px 0;
	overflow: hidden;
	line-height: 150%;
}
#viewport-center .vc-box-1 .box-select-role dd.box-title-wording {
	margin: 10px 0 5px 0;
}
#viewport-center .vc-box-1 .line-y-0,
#viewport-center .vc-box-2 .line-y-0 {
	background: url(../images/line_y_0.png) no-repeat center center;
	width: 2px;
	height: 115px;
}
#viewport-center .vc-box-1 .line-y-1,
#viewport-center .vc-box-2 .line-y-1 {
	background: url(../images/line_y_1.png) no-repeat center center;
	width: 2px;
	height: 75px;
}
#viewport-center .vc-box-1 .select-pdm {
	width: 380px;
	height: 115px;
}
#viewport-center .vc-box-1 .select-engineer {
	width: 378px;
	height: 115px;
}
#viewport-center .vc-box-1 .select-pdm dt {
	background-position: 0 -42px;
	width: 78px;
	height: 77px;
}
#viewport-center .vc-box-1 .box-select-role .select-pdm .box-title-wording {
	background-position: 0 -57px;
	width: 152px;
	height: 15px;
}
#viewport-center .vc-box-1 .select-engineer dt {
	background-position: -80px -42px;
	width: 64px;
	height: 77px;
}
#viewport-center .vc-box-1 .select-engineer .box-title-wording {
	background-position: 0 -74px;
	width: 99px;
	height: 15px;
}
#viewport-center .vc-box-1 .select-engineer .file-list {
	display: none;
	position: absolute;
	top: 65px;
	left: 220px;
	padding-top: 10px;
	+top: 52px;	/* IE7 hack */
}
#viewport-center .vc-box-1 .select-engineer .file-list div {
	border: 1px solid #C4C5C8;
	background: #F3F5F8;
	padding: 5px 10px;
	line-height: 150%;
}
#viewport-center .vc-box-1 a.accordion {
	overflow: hidden;
	clear: both;
	display: inline-block;
	background: url(../images/accordion_sprite.png) no-repeat;
	background-position: -22px 0;
	width: 779px;
	height: 14px;
	margin: 0 auto;
}
#viewport-center .vc-box-1 a.accordion:hover {
	background-position: -22px -16px;
}
#viewport-center .vc-box-1 a.accordion-up {
	overflow: hidden;
	clear: both;
	display: inline-block;
	background: url(../images/accordion_sprite.png) no-repeat;
	background-position: -22px -33px;
	width: 779px;
	height: 14px;
	margin: 0 auto;
}
#viewport-center .vc-box-1 a.accordion-up:hover {
	background-position: -22px -49px;
}

#viewport-center .vc-box-1 .box-app-debug {
	border-top: 1px solid #CACCCF;
	border-bottom: 1px solid #CACCCF;
	background: url(../images/box_select_role_bg.png) repeat-x;
	height: 75px;
}
#viewport-center .vc-box-1 .box-app-debug input[type=text] {
	height: 18px;
}
/* IE9 hack */
:root #viewport-center .vc-box-1 .box-app-debug input[type=text] {
	height: 14px\9\0;
}
#viewport-center .vc-box-1 .box-app-debug dl {
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	+margin-top: 1px;	/* IE7 hack */
	+margin-bottom: 2px;	/* IE7 hack */
	margin-top: 1px\0;	/* IE8 hack */
	margin-bottom: 2px\0;	/* IE8 hack */
}
/* IE9 hack */
:root #viewport-center .vc-box-1 .box-app-debug dl {
	margin-top: 4px\9\0;
	margin-bottom: 4px\9\0;
}
/* WebKit and Opera hack */
@media all and (min-width: 0px) {
	#viewport-center .vc-box-1 .box-app-debug dl {
		margin-top: 0;
		margin-bottom: -2px;
	}
}
#viewport-center .vc-box-1 .box-app-debug dt {
	float: left;
	font-weight: bold;
	line-height: 2.5em;
	margin-right: 10px;
}
/* IE9 hack */
:root #viewport-center .vc-box-1 .box-app-debug dt {
	line-height: 2em\9\0;
}
#viewport-center .vc-box-1 .box-app-debug dd {
	float: left;
	margin: 3px 0;
	overflow: hidden;
}
#btn-search {
	background-position: 0 -289px;
	width: 131px;
	height: 59px;
}
#btn-search:hover {
	background-position: 0 -349px;
}

#without-templates {
	padding: 15px 0 0 15px;
}
#viewport-center .btn-one-key-add {
	background-position: 0 -410px;
	width: 381px;
	height: 46px;
}
#viewport-center .btn-one-key-add:hover {
	background-position: 0 -458px;
}
#viewport-center .btn-one-key-add-disable {
	background-position: 0 -506px;
	width: 381px;
	height: 46px;
}
#viewport-center .vc-box-1 .check {
	position: absolute;
	left: 20px;
	bottom: 21px;
}
#viewport-center .vc-box-1 .check input,
#viewport-center .vc-box-1 .check label {
	vertical-align: middle;
}
#viewport-center .vc-box-1 .check label {
	margin-left: 10px;
}
#templates-tabs .templates-group {
	border: 1px solid #C6C6C6;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
#templates-tabs .templates-group .bg {
	background: url(../images/templates_group_bg.png) repeat-x;
	width: 318px;
	height: 86px;
	padding: 15px;
}
#templates-tabs .templates-group .bg dt,
#templates-tabs .templates-group .bg dd {
	clear: both;
	overflow: hidden;
}
#templates-tabs .templates-group .bg dt {
	margin-bottom: 15px;
}
#templates-tabs .templates-group .bg dt input[type=checkbox] {
	margin-right: 10px;
    margin-top: 5px;
}
#templates-tabs .templates-group .bg dd {
	line-height: 150%;
	color: #666;
}
#templates-tabs .templates-group .items {
	padding: 15px;
	width: 400px;
}
#templates-tabs .templates-group .items label {
	margin: 2px 0;
	padding: 3px 5px;
	border: 1px solid transparent;
	float: left;
	overflow: hidden;
	width: 185px;
}
#templates-tabs .templates-group .items label:hover {
	border: 1px solid #DBE3EE;
	background: #E9EEF5;
}
#templates-tabs .templates-group .items label input {
	vertical-align: middle;
	margin-right: 10px;
}
#templates-tabs .templates-group .items label a {
	color: #3F83CD;
	margin-left: 5px;
	display: none;
}
#templates-all label {
	cursor: pointer;
}
.btn-select-data-report {
	background-position: 0 -554px;
	width: 381px;
	height: 46px;
}
.btn-select-data-report:hover {
	background-position: 0 -602px;
}
.btn-select-data-report-disable {
	background-position: 0 -650px;
	width: 381px;
	height: 46px;
}
.btn-detail-info-big {
	background-position: -112px -21px;
	width: 95px;
	height: 21px;
	margin-top: 4px;
}
.btn-detail-info-big:hover {
	background-position: -207px -21px;
}
.btn-detail-info-small {
	background-position: -114px 0;
	width: 18px;
	height: 19px;
	margin-top: 2px;
}
.btn-detail-info-small:hover {
	background-position: -134px 0;
}
.btn-ok {
	background-position: 0 -698px;
	width: 81px;
	height: 34px;
}
.btn-ok:hover {
	background-position: 0 -734px;
}
.btn-ok-disable {
	background-position: 0 -770px;
	width: 81px;
	height: 34px;
	cursor:default;
}
.btn-ok-mini {
	background-position: -84px -722px;
	width: 81px;
	height: 24px;
	line-height: 22px;
	color:#FFF;
	font-weight:normal;
}
.btn-ok-mini:hover {
	background-position: -84px -746px;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}
.btn-ok-mini-disable {
	background-position: -84px -698px;
	width: 81px;
	height: 24px;
	line-height: 22px;
	color:#FFF;
	font-weight:normal;
	cursor:default;
}

#templates-tabs .recommend-items .big {
	width: 360px;
	height: 78px;
}
#templates-tabs .recommend-items .small {
	width: 160px;
	height: 84px;
	width: 160px;
	+width: 159px;	/* IE7 hack */
}
#templates-tabs .recommend-items .big p {
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	overflow: hidden;
	float: left;
	margin: 10px 0;
	width: 350px;
	color: #666;
}
#without-templates label {
	width: 162px;
}
#without-templates label h4,
#templates-tabs .recommend-items .small h4 {
	font-size: 12px;
}
#templates-tabs .recommend-items .big h3 {
	font-size: 18px;
	font-family: Microsoft Yahei, SimSun;
}
#templates-tabs .recommend-items .small p {
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	overflow: hidden;
	float: left;
	margin: 2px 0;
	width: 150px;
	color: #666;
}
.check-info {
	margin-left: 7px;
	color: #DD5F39;
	vertical-align: middle;
}

#h20 {
	float: left;
	width:100%;
	height: 20px
}

#h30 {
	float: left;
	width:100%;
	height: 30px
}

#footer {
	width:100%;
	margin-bottom:20px;
	text-align:center;
	border-top: 1px solid #CCCCCC;
    color: #666666;
    margin-top: 24px;
    padding-top: 12px;
	overflow: hidden;
}