@charset "utf-8";
/*!
 * 用于定义布局框架以及全局模块样式
 *
 * Author：Frankiewu
 *
 */

body {
    background: url("../images/bg.png") repeat scroll 0 0 transparent;
    color: #333333;
    font-family: Tahoma;
    font-size: 12px;
    margin: 0;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, input, button, textarea, p, th, td {
    margin: 0;
    padding: 0;
}

/* Layout通用样式
----------------------------------*/
#doc {
	width: 100%;
	text-align: center;
}
#header, #top, #nav-menu, #notice,#content {
	text-align: left;
	clear: both;
}
#footer {
	width:100%;
	margin-bottom:20px;
	text-align:center;
	border-top: 1px solid #CCCCCC;
    color: #666666;
    margin-top: 24px;
    padding-top: 12px;
	overflow: hidden;
}
#header {
	width: 100%;
	margin: 0;
}
#top, #nav-menu, #notice-content,#content {
	width: 980px;
	margin: 0 auto;
}
#viewport-left, #viewport-center {
	float: left;
}

/* 表单通用样式
----------------------------------*/
form fieldset {
	border:none;
}
form label, form select, form input, form span, form button {
	vertical-align:middle;
}
form input, textarea, select {
	font-size:12px;
	font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}
input[type=text] {
	border:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #9a9a9a;
	padding:2px 1px;
}
select {
	border:1px solid #c3c3c3;
	border-top:1px solid #7c7c7c;
	border-left:1px solid #9a9a9a;
	padding:1px;
}
table {
	border-collapse: collapse;
}

/* 数据表通用样式
----------------------------------*/
.data-sheet {
	overflow: auto;
	overflow-y:hidden;
}
.data-sheet table {
	width: 100%;
	overflow: hidden;
}
.data-sheet tr {
	border-top: 1px solid #EDEDED;
	border-bottom: 1px solid #EDEDED;
}
.data-sheet tr td {
	height: 36px;
}
.data-sheet .hasEven tr.even {
	background: #F7F7F7;
}
.data-sheet .hasEven tr.hover {
	background: #E3EDFF;
	border-top: 1px solid #C9D8F2;
	border-bottom: 1px solid #C9D8F2;
}
.data-sheet .hasEven tr.hover td {
	border-top: 1px solid #C9D8F2;
	border-bottom: 1px solid #C9D8F2;
}

.data-sheet tr:first-of-type th {	/* Others */
	background-image: url(../images/data_sheet_tr_bg.png);
	background-repeat: repeat-x;
	height: 31px;
}
.data-sheet tr.first th { /* IE6/IE7/IE8 */
	background-image: url(../images/data_sheet_tr_bg.png);
	background-repeat: repeat-x;
	height: 31px;
}
.data-sheet th,
.data-sheet td {
	padding-left: 20px;
}
.data-sheet tr.first th {
	position:relative;
	margin:1px 0;
	text-align: left;
	border-left: 1px solid #DCE2EC;
	border-radious:1px;
}
.data-sheet tr.first th:after {
	content:"";
	position:absolute;
	top:1px;
	left:0;
	width:1px;
	height:29px;
	background:#FFF;
}
.data-sheet td span {
	display: inline-block;
	width: 70px;
}
.data-sheet td a {
	margin-right: 23px;
	+margin-top: -13px;	/* IE7 hack */
}
.data-sheet td a.gray {
	text-decoration: none;
}
.data-sheet td a.action {
	display: none;
}

/* 按钮通用样式
----------------------------------*/
.btn {
	background-image: url(../images/btn_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
	vertical-align: middle;
	text-align:center;
}

/* Wording Sprite */
.box-title-wording {
	background-image: url(../images/wording_sprite.png);
	background-repeat: no-repeat;
	display: inline-block;
}
.wording-need-report {
	background-position: 0 0;
	width: 253px;
	height: 18px;
}
.wording-templates {
	background-position: 0 -20px;
	width: 64px;
	height: 17px;
}
.wording-interface {
	background-position: 0 -39px;
	width: 64px;
	height: 16px;
}
.wording-app-debug {
	background-position: 0 -91px;
	width: 145px;
	height: 18px;
}
.wording-without-data-report {
	background-position: 0 -111px;
	width: 163px;
	height: 18px;
}
.wording-need-data-report {
	background-position: 0 -131px;
	width: 145px;
	height: 18px;
}
.wording-new-user-templates {
	background-position: 0 -151px;
	width: 168px;
	height: 20px;
}

/* 框架头部区域
----------------------------------*/
#top {
	position:relative;
	z-index:2;
	height: 74px;
}
#logo {
    background: url("../images/logo.gif") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 54px;
    width: 152px;
}
#btn-setting {
	background-position: 0 0;
	width: 20px;
	height: 21px;
}
#btn-setting:hover {
	background-position: 0 -23px;
}
#btn-help {
	background-position: -22px 0;
	width: 56px;
	height: 21px;
}
#btn-help:hover {
	background-position: -22px -23px;
}
#user-nav{position:relative;}
#nav {
	position:relative;z-index:1;
	height: 45px;
	background: url(../images/nav_bg.png) repeat-x;
}
#nav-menu li {
	float: left;
	position:relative;
	background: url(../images/nav_li.png) no-repeat left center;
}
#nav-menu li:nth-child(1) {
	background:0;
}
#nav-menu>ul>li>a {
	color: #FFF;
	font-size: 14px;
	padding: 14px 30px;
	display: inline-block;
	position:relative;
	text-align: center;
	+padding: 16px 34px 12px 28px;	/* IE7 hack */
	+margin-right: -4px;	/* IE7 hack */
}
.nav-menu-li-bg {
	background: url(../images/nav_li.png) no-repeat left center;
}
#nav-menu>ul>li:hover>a {
	color: #FFF;
	text-decoration: none;
	background: url(../images/nav_hover_bg.png) repeat-x;
	position: relative;
	padding: 14px 32px 14px 28px;
	margin-left: 2px;
	margin-right: -2px;
	overflow: hidden;
	z-index: 10;
	+padding: 16px 32px 12px 28px;	/* IE7 hack */
	+margin-right: -4px;	/* IE7 hack */
}
#nav-menu>ul>li>a.selected {
	color: #FFF;
	*zoom:1;
	text-decoration: none;
	background: url(../images/nav_selected_bg.png) repeat-x;
	position: relative;
	padding: 14px 32px 14px 28px;
	margin-left: 2px;
	margin-right: -2px;
	overflow: hidden;
	z-index: 10;
	+padding: 16px 32px 12px 28px;	/* IE7 hack */
	+margin-right: -4px;	/* IE7 hack */
}
#nav-menu>ul>li>a.first {
	background: none;
	padding: 14px 32px 14px 28px;
	margin-left: 2px;
	margin-right: -2px;
	+padding: 16px 32px 12px 28px;	/* IE7 hack */
	+margin-left: 0;	/* IE7 hack */
	+margin-right: -4px;	/* IE7 hack */
}
#nav-menu>ul>li>a.close {
	background: url(../images/btn_sprite.png) no-repeat -102px -11px;
	width: 9px;
	height: 9px;
	padding: 0;
	position: absolute;
	top: 7px;
	right: 6px;
}
#nav-menu>ul>li>a.more {
	position: relative;
	+padding-top: 13px;
}
#nav-menu>ul>li>a.more:hover, #nav-menu>ul>li:hover>a.more {
	background: none;
}
#nav-more {
	position: absolute;
	top: 0;
	right: -3px;
	overflow: hidden;
	width: 214px;
	z-index: 20;
}
#nav-more .nav-more-bg {
	background-image: url(../images/nav_more_sprite.png);
}
#nav-more .nav-more-main {
	overflow: hidden;
	clear: both;
}
#nav-more .nav-more-title {
	background-repeat: no-repeat;
	background-position: 0 0;
	width: 136px;
	height: 28px;
	float: right;
	color: #000;
	font-size: 14px;
	display: inline-block;
	padding-top: 14px;
	text-align: center;
}
#nav-more .nav-more-content {
	background: url(../images/nav_more_bg.png) repeat-y;
	clear: both;
	padding: 15px;
}
#nav-more .nav-more-content-top {
	background-repeat: no-repeat;
	background-position: 0 -44px;
	width: 214px;
	height: 4px;
}
#nav-more .nav-more-content-bottom {
	background-repeat: no-repeat;
	background-position: 0 -50px;
	width: 214px;
	height: 6px;
}
#nav-more .nav-more-search {
	background-repeat: no-repeat;
	background-position: 0 -58px;
	border: none;
	width: 138px;
	height: 26px;
	border: none;
	padding: 0 10px 0 27px;
	color: #737373;
	+padding-top: 5px;	/* IE7 hack */
	padding-top: 5px\0;	/* IE8 hack */
}
/* IE9 hack */
:root #nav-more .nav-more-search {
	padding-top: 0\9\0;
}
#nav-more-items {
	margin-top: 10px;
	padding-bottom: 15px !important;
}
#nav-more-items .app-items {
	width: 169px;
	height: 22px;
	margin: 2px 4px;
}
#nav-more-items .app-items:hover {
	background: #EFEFEF;
}
#nav-more-items .app-items dd {
	margin: 3px;
}
#app-0 dt, #app-5 dt, #app-10 dt, #app-15 dt, #app-20 dt, #app-25 dt, #app-30 dt, #app-35 dt {
	background-position: 0 0;
}
#app-1 dt, #app-6 dt, #app-11 dt, #app-16 dt, #app-21 dt, #app-26 dt, #app-31 dt, #app-36 dt {
	background-position: -18px 0;
}
#app-2 dt, #app-7 dt, #app-12 dt, #app-17 dt, #app-22 dt, #app-27 dt, #app-32 dt, #app-37 dt {
	background-position: -36px 0;
}
#app-3 dt, #app-8 dt, #app-13 dt, #app-18 dt, #app-23 dt, #app-28 dt, #app-33 dt, #app-38 dt {
	background-position: -54px 0;
}
#app-4 dt, #app-9 dt, #app-14 dt, #app-19 dt, #app-24 dt, #app-29 dt, #app-34 dt, #app-39 dt {
	background-position: -72px 0;
}
#nav-more-items .app-items a.gray {
	text-decoration: none;
}
#nav-setting {
	display: inline-block;
	background-image: url(../images/btn_sprite.png);
	background-position: -80px -22px;
	background-repeat: no-repeat;
	width: 15px;
	height: 16px;
}
#nav-setting:hover {
	background-position: -97px -22px;
}
#notice {
	height: 45px;
	background: url(../images/notice_bg.png) repeat-x;
}
#notice .notice-title {
	background: url(../images/icon_sprite.png) no-repeat 0 0;
	width: 55px;
	height: 17px;
	margin: 13px 14px 0 30px;
}
#notice-items {
	position: relative;
	overflow: hidden;
	margin: 12px 0 0 0;
	width: 700px;
	height: 18px;
}
#notice-items ul, #notice-items li {
	list-style: none;
}
#notice-items li {
	margin-top: 2px;
}
#notice .switchable-triggers {
	float: right;
	margin: 17px 0 0 0;
	padding: 0;
}
#notice .switchable-triggers li {
	background-image: url(../images/btn_sprite.png);
	background-repeat: no-repeat;
	background-position: -80px 0;
	width: 9px;
	height: 9px;
	display: inline-block;
	margin: 0 2px;
	float: left;
}
#notice .switchable-triggers li:hover {
	background-position: -91px 0;
}
#notice .switchable-triggers li.current, #notice .switchable-triggers li.current:hover {
	background-position: -102px 0;
}
#notice .notice-close {
	margin: 17px 30px 0 10px;
	background-image: url(../images/btn_sprite.png);
	background-repeat: no-repeat;
	background-position: -80px -11px;
	width: 9px;
	height: 9px;
	display: inline-block;
}
#notice .notice-close:hover {
	background-position: -91px -11px;
}

/* 框架左侧栏区域
----------------------------------*/
#viewport-left {
	width: 130px;
	margin: 30px 27px 0 0;
}
#viewport-left .vl-box-1 {
	margin-bottom: 25px;
}
#viewport-left .vl-box-1 .box-1-title {
	display: inline-block;
	width: 100%;
	height: 35px;
	cursor: pointer;
}
#viewport-left .vl-box-1 .box-1-title a {
	float: right;
	margin-top: 4px;
}
#viewport-left .vl-box-1 .box-1-title a {
	text-decoration: none;
}
#viewport-left .vl-box-2 {
	padding: 14px 0;
	background: url(/img/line_x_0.png) no-repeat top center;
}
#viewport-left .vl-box-2 .box-2-title {
	font: bold normal 14px/normal normal;
	color: #2E384D;
	cursor: pointer;
	height: 18px;
}
#viewport-left .vl-box-2 .box-2-title em {
	display: inline-block;
	background-image:  url(/img/icon_sprite.png);
	background-repeat: no-repeat;
	vertical-align: bottom;
	margin-right: 8px;
	margin-top: -3px;
}
#viewport-left .vl-box-2 .box-2-title .arrow-up {
	margin-right: 5px;
	line-height: 0;
}
#viewport-left .vl-box-2 ul, #viewport-left .vl-box-2 li {
	list-style: none;
	margin: 0;
	padding: 0;
	clear: both;
	overflow: hidden;
}
#viewport-left .vl-box-2 ul {
	margin-top: 10px;
}
#viewport-left .vl-box-2 li a {
	display: inline-block;
	padding-left: 25px;
	padding-top: 4px;
	width: 135px;
	height: 20px;
	color: #2E384D;
}
#viewport-left .vl-box-2 li a:hover {
	background: #E3E4E8;
	text-decoration: none;
}
#viewport-left .vl-box-2 li a.selected {
	background: #E3E4E8;
	color: #006CD9;
	font-weight: bold;
}
#viewport-left .vl-box-2 ul em {
	display: inline-block;
	background-image:  url(/img/icon_sprite.png);
	background-repeat: no-repeat;
	vertical-align: middle;
	margin-left: 2px;
	margin-top: -3px;
}
#viewport-left .no-line {
	background: none;
}

#analyse-basic .box-1-title {
	background: url(/img/menu_title_base.png) no-repeat;
}
#analyse-advanced .box-1-title {
	background: url(/img/menu_title_advanced.png) no-repeat;
}
#viewport-left .vl-box-2 .menu-general-situation {
	background-position: 1px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-new-user {
	background-position: -20px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-user-behavior {
	background-position: -40px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-user-partake {
	background-position: -64px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-user-attribute {
	background-position: -85px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 .menu-income {
	background-position: -106px -19px;
	width: 19px;
	height: 21px;
}
#viewport-left .vl-box-2 ul .menu-icon-point {
	background-position: -57px 0;
	width: 19px;
	height: 16px;
}
#viewport-left .vl-box-2 ul .menu-icon-new {
	background-position: -78px 0;
	width: 21px;
	height: 5px;
}
#btn-add-module {
	background-position: 0 -46px;
	width: 130px;
	height: 46px;
}
#btn-add-module:hover {
	background-position: 0 -94px;
}
#btn-add-module-select,
#btn-add-module:active{
	background-position: -134px -46px;
	width: 130px;
	height: 46px;
}
#btn-adding {
	background:url('/img/button.png') no-repeat;
	width: 130px;
	height: 46px;
}
#btn-adding:hover {
	background-position: 0 -48px;
}
#btn-add-all-module {
	background-position: 0 -142px;
	width: 379px;
	height: 46px;
}
#btn-add-all-module:hover {
	background-position: 0 -190px;
}
#btn-add-all-module-disable {
	background-position: 0 -240px;
	width: 379px;
	height: 46px;
}

/* 框架主内容区域
----------------------------------*/
#viewport-center {
	width: 820px;
	margin-top: 30px;
	float: left;
}
#viewport-center .vc-box-1 {
	background: #FFF;
	border: 1px solid #A2A7B0;
	padding-bottom: 20px;
}
#viewport-center .vc-box-2 {
	background: #FFF;
	border-top: 1px solid #A2A7B0;
	border-left: 1px solid #A2A7B0;
	border-right: 1px solid #A2A7B0;
}
#viewport-center .vc-box-1 .box-1-title,
#viewport-center .vc-box-2 .box-2-title {
	padding: 10px 15px 10px 20px;
	overflow: hidden;
}
#viewport-center h2 {
	font-family: Microsoft Yahei,SimSun;
	font-size: 20px;
}
#viewport-center .vc-box-1 .box-1-title .box-title-info,
#viewport-center .vc-box-2 .box-2-title .box-title-info {
	margin-top: 3px;
}

#viewport-center .vc-box-1 .box-select-role {
	border-top: 1px solid #CACCCF;
	border-bottom: 1px solid #CACCCF;
	background: url(/img/box_select_role_bg.png) repeat-x;
	height: 114px;
}
#viewport-center .vc-box-1 .box-select-role dl {
	margin: 20px 21px 20px 50px;
}
#viewport-center .vc-box-1 .box-select-role dt {
	float: left;
	display: inline-block;
	background-image: url(/img/icon_sprite.png);
	background-repeat: no-repeat;
	margin: 0 15px 0 0;
}
#viewport-center .vc-box-1 .box-select-role dd {
	margin: 3px 0;
	overflow: hidden;
	line-height: 150%;
}
#viewport-center .vc-box-1 .box-select-role dd.box-title-wording {
	margin: 10px 0 5px 0;
}
#viewport-center .vc-box-1 .line-y-0,
#viewport-center .vc-box-2 .line-y-0 {
	background: url(/img/line_y_0.png) no-repeat center center;
	width: 2px;
	height: 115px;
}
#viewport-center .vc-box-1 .line-y-1,
#viewport-center .vc-box-2 .line-y-1 {
	background: url(/img/line_y_1.png) no-repeat center center;
	width: 2px;
	height: 75px;
}
#viewport-center .vc-box-1 .select-pdm {
	width: 380px;
	height: 115px;
}
#viewport-center .vc-box-1 .select-engineer {
	width: 378px;
	height: 115px;
}
#viewport-center .vc-box-1 .select-pdm dt {
	background-position: 0 -42px;
	width: 78px;
	height: 77px;
}
#viewport-center .vc-box-1 .box-select-role .select-pdm .box-title-wording {
	background-position: 0 -57px;
	width: 152px;
	height: 15px;
}
#viewport-center .vc-box-1 .select-engineer dt {
	background-position: -80px -42px;
	width: 64px;
	height: 77px;
}
#viewport-center .vc-box-1 .select-engineer .box-title-wording {
	background-position: 0 -74px;
	width: 99px;
	height: 15px;
}
#viewport-center .vc-box-1 .select-engineer .file-list {
	display: none;
	position: absolute;
	top: 65px;
	left: 220px;
	padding-top: 10px;
	+top: 52px;	/* IE7 hack */
}
#viewport-center .vc-box-1 .select-engineer .file-list div {
	border: 1px solid #C4C5C8;
	background: #F3F5F8;
	padding: 5px 10px;
	line-height: 150%;
}
#viewport-center .vc-box-1 a.accordion {
	overflow: hidden;
	clear: both;
	display: inline-block;
	background: url(/img/accordion_sprite.png) no-repeat;
	background-position: -22px 0;
	width: 779px;
	height: 14px;
	margin: 0 auto;
}
#viewport-center .vc-box-1 a.accordion:hover {
	background-position: -22px -16px;
}
#viewport-center .vc-box-1 a.accordion-up {
	overflow: hidden;
	clear: both;
	display: inline-block;
	background: url(/img/accordion_sprite.png) no-repeat;
	background-position: -22px -33px;
	width: 779px;
	height: 14px;
	margin: 0 auto;
}
#viewport-center .vc-box-1 a.accordion-up:hover {
	background-position: -22px -49px;
}

#viewport-center .vc-box-1 .box-app-debug {
	border-top: 1px solid #CACCCF;
	border-bottom: 1px solid #CACCCF;
	background: url(/img/box_select_role_bg.png) repeat-x;
	height: 75px;
}
#viewport-center .vc-box-1 .box-app-debug input[type=text] {
	height: 18px;
}
/* IE9 hack */
:root #viewport-center .vc-box-1 .box-app-debug input[type=text] {
	height: 14px\9\0;
}
#viewport-center .vc-box-1 .box-app-debug dl {
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
	+margin-top: 1px;	/* IE7 hack */
	+margin-bottom: 2px;	/* IE7 hack */
	margin-top: 1px\0;	/* IE8 hack */
	margin-bottom: 2px\0;	/* IE8 hack */
}
/* IE9 hack */
:root #viewport-center .vc-box-1 .box-app-debug dl {
	margin-top: 4px\9\0;
	margin-bottom: 4px\9\0;
}
/* WebKit and Opera hack */
@media all and (min-width: 0px) {
	#viewport-center .vc-box-1 .box-app-debug dl {
		margin-top: 0;
		margin-bottom: -2px;
	}
}
#viewport-center .vc-box-1 .box-app-debug dt {
	float: left;
	font-weight: bold;
	line-height: 2.5em;
	margin-right: 10px;
}
/* IE9 hack */
:root #viewport-center .vc-box-1 .box-app-debug dt {
	line-height: 2em\9\0;
}
#viewport-center .vc-box-1 .box-app-debug dd {
	float: left;
	margin: 3px 0;
	overflow: hidden;
}
#btn-search {
	background-position: 0 -289px;
	width: 131px;
	height: 59px;
}
#btn-search:hover {
	background-position: 0 -349px;
}

#without-templates {
	padding: 15px 0 0 15px;
}
#viewport-center .btn-one-key-add {
	background-position: 0 -410px;
	width: 381px;
	height: 46px;
}
#viewport-center .btn-one-key-add:hover {
	background-position: 0 -458px;
}
#viewport-center .btn-one-key-add-disable {
	background-position: 0 -506px;
	width: 381px;
	height: 46px;
}
#viewport-center .vc-box-1 .check {
	position: absolute;
	left: 20px;
	bottom: 21px;
}
#viewport-center .vc-box-1 .check input,
#viewport-center .vc-box-1 .check label {
	vertical-align: middle;
}
#viewport-center .vc-box-1 .check label {
	margin-left: 10px;
}
#templates-tabs .templates-group {
	border: 1px solid #C6C6C6;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
}
#templates-tabs .templates-group .bg {
	background: url(/img/templates_group_bg.png) repeat-x;
	width: 318px;
	height: 86px;
	padding: 15px;
}
#templates-tabs .templates-group .bg dt,
#templates-tabs .templates-group .bg dd {
	clear: both;
	overflow: hidden;
}
#templates-tabs .templates-group .bg dt {
	margin-bottom: 15px;
}
#templates-tabs .templates-group .bg dt input[type=checkbox] {
	margin-right: 10px;
    margin-top: 5px;
}
#templates-tabs .templates-group .bg dd {
	line-height: 150%;
	color: #666;
}
#templates-tabs .templates-group .items {
	padding: 15px;
	width: 400px;
}
#templates-tabs .templates-group .items label {
	margin: 2px 0;
	padding: 3px 5px;
	border: 1px solid transparent;
	float: left;
	overflow: hidden;
	width: 185px;
}
#templates-tabs .templates-group .items label:hover {
	border: 1px solid #DBE3EE;
	background: #E9EEF5;
}
#templates-tabs .templates-group .items label input {
	vertical-align: middle;
	margin-right: 10px;
}
#templates-tabs .templates-group .items label a {
	color: #3F83CD;
	margin-left: 5px;
	display: none;
}
#templates-all label {
	cursor: pointer;
}
.btn-select-data-report {
	background-position: 0 -554px;
	width: 381px;
	height: 46px;
}
.btn-select-data-report:hover {
	background-position: 0 -602px;
}
.btn-select-data-report-disable {
	background-position: 0 -650px;
	width: 381px;
	height: 46px;
}
.btn-detail-info-big {
	background-position: -112px -21px;
	width: 95px;
	height: 21px;
	margin-top: 4px;
}
.btn-detail-info-big:hover {
	background-position: -207px -21px;
}
.btn-detail-info-small {
	background-position: -114px 0;
	width: 18px;
	height: 19px;
	margin-top: 2px;
}
.btn-detail-info-small:hover {
	background-position: -134px 0;
}
.btn-ok {
	background-position: 0 -698px;
	width: 81px;
	height: 34px;
}
.btn-ok:hover {
	background-position: 0 -734px;
}
.btn-ok-disable {
	background-position: 0 -770px;
	width: 81px;
	height: 34px;
	cursor:default;
}
.btn-ok-mini {
	background-position: -84px -722px;
	width: 81px;
	height: 24px;
	line-height: 22px;
	color:#FFF;
	font-weight:normal;
}
.btn-ok-mini:hover {
	background-position: -84px -746px;
	color:#FFF;
	font-weight:normal;
	text-decoration:none;
}
.btn-ok-mini-disable {
	background-position: -84px -698px;
	width: 81px;
	height: 24px;
	line-height: 22px;
	color:#FFF;
	font-weight:normal;
	cursor:default;
}

#templates-tabs .recommend-items .big {
	width: 360px;
	height: 78px;
}
#templates-tabs .recommend-items .small {
	width: 160px;
	height: 84px;
	width: 160px;
	+width: 159px;	/* IE7 hack */
}
#templates-tabs .recommend-items .big p {
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	overflow: hidden;
	float: left;
	margin: 10px 0;
	width: 350px;
	color: #666;
}
#without-templates label {
	width: 162px;
}
#without-templates label h4,
#templates-tabs .recommend-items .small h4 {
	font-size: 12px;
}
#templates-tabs .recommend-items .big h3 {
	font-size: 18px;
	font-family: Microsoft Yahei, SimSun;
}
#templates-tabs .recommend-items .small p {
	text-align: left;
	font-weight: normal;
	line-height: 150%;
	overflow: hidden;
	float: left;
	margin: 2px 0;
	width: 150px;
	color: #666;
}
.check-info {
	margin-left: 7px;
	color: #DD5F39;
	vertical-align: middle;
}

/* modal样式
----------------------------------*/
.modal {
	text-align: center;
	width: 100%;
	height: 0;
	overflow:hidden;
	background: #333;
	opacity: .25;
	filter: Alpha(Opacity=25);
	position: absolute;
	z-index: 1;
	-webkit-transition:all 1s;
}
.modal img,
.modal p {
	color: #FFF;
	margin-top: 150px;
	font-size: 36px;
	margin: 150px auto 0 auto;
}

/* 按钮收起
----------------------------------*/
#btn-help-unfold{position:fixed;top:165px;right:0;background-position:-333px 0;width:27px;height:29px;z-index:1;display:none;}
#btn-help-unfold:hover{background-position:-333px -31px;width:32px;height:29px;}

/*滚动条样式*/
/*
.data-sheet{ overflow-y:hidden; overflow-x:auto; *padding-bottom:17px; z-index:1;}
.scroll_wrap{ height:47px; position:relative; z-index:2;}
.scroll_box{ margin-top:17px;}
.scroll_box .sync_div{ margin-top:0px; position:static; overflow: visible;}
.scroll_box .sync_table{ margin-top:-2px;}
.scroll_box .sync_table th{background: url(/img/data_sheet_tr_bg.png) repeat-x; height: 31px;}
.ui-tabs-panel .scroll_data_wrap{overflow: hidden; overflow-x:auto; background:#edeef0;}

.scroll_box{overflow:hidden;}
.scroll_data_table .scroll_data_th{ visibility:hidden;}
.scroll_data_table{ margin-top:-31px;}

.scroll_bar{ overflow-x:scroll; overflow-y:hidden; position:absolute; top:0px; z-index:1; height:17px;}
.sync_scroll_bar{ height:1px;}
*/

/*滚动条样式 2012-10-26*/
.scroll_wrap{ position:relative; z-index:2; overflow:hidden; height:50px;}
.scroll_data_wrap{ margin-top:-33px !important; *margin-top:-43px; position:relative; z-index:1;}
.scroll_bar,.scroll_box{overflow-x:auto; overflow-y:hidden;}
.scroll_bar .syn_width{ height:1px; *height:17px;}
.data_sheet_tips{ display:block;}

.just_fixed{ height:32px;}
.just_fixed .scroll_bar{ display:none;}

/* .apps-help-info
--------------------------------*/
#apps-help-info{
    width: 778px;
    padding: 10px 20px;
}
#apps-help-info {
    width:778px;
    padding: 10px 20px;
}
#apps-help-info .template-list {
    display: none;
    position: absolute;
    top: 14px;
    right: 0;
    padding-top: 10px;
+top: 14px;	/* IE7 hack */
}
#apps-help-info .template-list div {
    border: 1px solid #C4C5C8;
    background: #F3F5F8;
    padding: 5px 10px;
    line-height: 150%;
}
#btn-help-fold {
    background-position: -304px 0;
    width: 27px;
    height: 27px;
    top: 0;
    right: 0;
    position: absolute;
}
#btn-help-unfold:hover {
    background-position: -333px -31px;
    width: 32px;
    height: 29px;
}
#apps-help-info .tips {
    border-bottom: 1px dotted #114091;
    display: inline-block;
    padding: 0 1px 1px 1px;
}

.filter .filter_content{
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin-right: 10px;
}
.filter .common_datepicker{
	height: 24px;
	background-position: 10px -3px;
}
.filter .common_datepicker input{
	height: auto;
	top: 3px;
}
.filter .common_datepicker .ui-datepicker-trigger{
	top: 3px;
}
.filter .selector select{
	padding: 2px;
	border-radius: 3px;
}