<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webserver.dao.UserDao">
	<select id="getUserByParams" resultType="User">
		select uid,account,password,real_name realName,add_time addTime,is_lock isLock,add_man addMan
		from user_info
		<where>
			<if test="user.realName!=null">
				real_Name like CONCAT('%',#{user.realName},'%')
			</if>
		</where>
		order by uid
		limit #{pageBean.start},#{pageBean.rows}
	</select>
</mapper>