<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webserver.dao.PlayerInfoDao">
	<!--<cache />  开启缓存 -->
	<select id="getPlayerById" resultType="PlayerInfo">
		SELECT t.player_id playerId,t.account account,t.password password,t.add_time addTime, t.head_img headImg
		   from player_info t
	<where>
	  		<if test="playerId!=null">
	  			player_id = #{playerId}
	  		</if>
	 </where>
	</select>
	 
	 <select id="getPlayerByParams" parameterType="PlayerInfo" resultType="PlayerInfo">
	   SELECT t.player_id playerId,t.account account,t.password password,t.add_time addTime, t.head_img headImg
	   from player_info t
	  <where>
	  		<if test="playerInfo.playerId!=null">
	  			player_id = #{playerInfo.playerId}
	  		</if>
	  		<if test="playerInfo.account!=null">
	  			and	account = #{playerInfo.account}
	  		</if>
	  		<if test="playerInfo.password!=null">
	  			and password = #{playerInfo.password}
	  		</if>
	  		<if test="playerInfo.headImg!=null">
	  			and head_img = #{playerInfo.headImg}
	  		</if>
	  </where>
	  order by player_id 
	  <if test="pageBean!=null">
	   		limit #{pageBean.start},#{pageBean.rows}
	  </if>
	 
	 </select>
	 
	 <insert id="insertPlayer" parameterType="PlayerInfo">
	 	insert into player_info (account,password,add_time,head_img)
	 	values (#{playerInfo.account},#{playerInfo.password},#{playerInfo.addTime},#{playerInfo.headImg})
	 </insert>
	 
	 <delete id="deletePlayerById" parameterType = "java.lang.Integer" >
	 	delete from player_info
	 		where player_id =  #{playerId}
	 </delete>
	 
</mapper>