<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webserver.dao.UserDao">
	<!--<cache />  开启缓存 -->
	
	 <select id="getUserByAccount" parameterType="string" resultType="User">
	   SELECT uid uid,account,password,real_name realName,add_time addTime,is_lock isLock,role_id roleId,add_man addMan
	   from user_info
	   <where>
	   		<if test="account != null">
	   			account = #{account}
	   		</if>
	   </where>
	 </select>
	 
	 <select id="login" parameterType="string" resultType="User">
	   SELECT uid uid,account,password,real_name realName,add_time addTime,is_lock isLock,role_id roleId,add_man addMan
	   from user_info
	   where account = #{account} and password = #{password}
	 </select>
	 
	 <select id="getUserByParams" parameterType="User" resultType="User">
	   SELECT t.uid uid,t.account account,t.password password,t.real_name realName,t.add_time addTime,
	   t.is_lock isLock,t.role_id roleId,t.add_man addMan,a.role_name roleName
	   from user_info t
	   left join role_info a on t.role_id=a.role_id
	  <where>
	  		<if test="user.uid!=null">
	  			uid = #{user.uid}
	  		</if>
	  		<if test="user.account!=null">
	  			and	account = #{user.account}
	  		</if>
	  		<if test="user.realName!=null">
	  			and real_name = #{user.realName}
	  		</if>
	  		<if test="user.isLock!=null">
	  			and is_lock = #{user.isLock}
	  		</if>
	  		<if test="user.roleId!=null">
	  			and role_id = #{user.roleId}
	  		</if>
	  		<if test="user.addMan!=null">
	  			and add_man = #{user.addMan}
	  		</if>
	  </where>
	 </select>
	 
	 <insert id="insertUser" parameterType="User">
	 	insert into user_info (account,password,real_name,add_time,is_lock,role_id,add_man)
	 	values (#{user.account},#{user.password},#{user.realName},#{user.addTime},#{user.isLock},#{user.roleId},#{user.addMan})
	 </insert>
	 
	  <update id="updateUser" parameterType="User">
	 	update user_info 
	 	<set>
	 		<if test="user.account!=null">
	 		account = #{user.account},
		 	</if>
		 	<if test="user.realName!=null">
		 		real_name = #{user.realName},
		 	</if>
		 	<if test="user.password!=null">
		 		password = #{user.password},
		 	</if>
		 	<if test="user.roleId!=null">
		 		role_id = #{user.roleId},
		 	</if>
		 	<if test="user.isLock!=null">
		 		is_lock = #{user.isLock},
		 	</if>
	 	</set>
	 	where uid = #{user.uid}
	 </update>
	 
	 <delete id="deleteUserById" parameterType = "java.lang.Integer" >
	 	delete from user_info
	 		where uid =  #{uid}
	 </delete>
	 
</mapper>