<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
                        http://www.springframework.org/schema/tx  
                      http://www.springframework.org/schema/tx/spring-tx.xsd  
                      http://www.springframework.org/schema/aop  
                      http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <bean id="taskService" class="com.webserver.service.TaskService"></bean> -->
	<!-- 清除前一天未支付订单 -->
	<bean id="clearUnPayOrderFactory" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			 <bean class="com.webserver.service.TaskService" />
		</property>
		<property name="targetMethod">
			<value>clearUnPayOrder</value>
		</property>
	</bean>
  
	<bean id="clearUnPayOrderCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="clearUnPayOrderFactory"/>
		<property name="cronExpression">
			<value>10,20,30,40,50 00 * * * ? *</value>
		</property>
	</bean>
	
	
	<!-- 启动定时器 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="jobDetails">
		     <list>
		       <ref bean="clearUnPayOrderFactory" />
		     </list>
		</property>
		<property name="triggers">
			<list>
				<ref bean="clearUnPayOrderCronTrigger" />
			</list>
		</property >
	</bean>
	
</beans>